[2019-07-11 20:40] dhartford opened #95 "DMN integration with OpenAPI support potential?"
Hi Team,
Been swapping between RHPAM 7.3 and a Quarkus/Kogito based immutable infrastructure decision-server approach, and going to at least ask the question:

Seeing things like the kogito-dmn-rest-utils library, are there any potential ideas/approaches to make stronger openAPI contracts that define the actual InputModels rather than a generic dmn-context approach?

i.e. some way to interrogate D

[2019-07-12 12:27] dhartford commented on #95
Forgot to add - this ability to create a struct would also be useful for other transport/protocol approaches as well (for example, AMQP), so although the initial/primary usecase is for REST/OpenAPI, it can be used elsewhere to help create better contracts of how to send data to DMN based decision services.

[2019-07-17 23:27] mswiderski commented on #95
I'd say yes, this is what we are aiming for and already used in one of the examples, see here https://github.com/kiegroup/kogito-examples/blob/master/onboarding-example/payroll/src/main/java/org/kie/kogito/examples/VacationDaysDMNEndpoint.java#L41
that exactly opens it up for complete and type safe REST api that combined with openapi/swagger gives consumers way easier start

@tarilabs just so you'

[2019-07-18 07:48] tarilabs commented on #95
Thanks @mswiderski for the ping and indeed that's what we are aiming for @dhartford

In fact thank you for the question @dhartford , as you might have noticed, the REST endpoints are per-model or per-service, and with Kogito the intention is to avoid the "generic payload" which is instead the approach used on Kie Server.

Just a word of warning, tho, about "strong typing": DMN and especially FEEL

[2019-07-19 13:12] dhartford commented on #95
Thanks @tarilabs and @mswiderski for the quick responses!
I'm reviewing https://github.com/kiegroup/kogito-examples/blob/master/onboarding-example/payroll/src/main/java/org/kie/kogito/examples/VacationDaysDMNEndpoint.java#L41 , and more specifically the _generated_ models used, to see how far the team has already gotten  - this is actually pretty exciting!

[2019-07-19 15:25] dhartford commented on #95
Question: what is the 'data modeler tool' used to generate the pojo and how to recreate the process?

/**
 * This class was automatically generated by the data modeler tool.
 */

[2019-07-21 08:11] mswiderski commented on #95
That is the workbench data model editor

[2019-07-22 15:30] dhartford commented on #95
Ah, the DMN InputData re-creates a Structure that has parity (maps to) the model, in that they are disconnected but coupled-by-convention only (manually).

[2019-07-24 09:24] tarilabs commented on #95
@dhartford I'm not really sure I fully understand your last statement, but please notice DMN being still under active development, I expect this will be eventually be further simplified by automated code generation.

[2019-07-25 12:18] dhartford commented on #95
I'll restate - it appears of you are doing DMN-first development, and you create the InputData, in order to make a stronger OpenAPI definition / message model, you then have to manually create a POJO a specific way to follow the convention of the name(s) used in the InputData and keep the two in-sync manually.

Obviously, if you are developing Domain/Pojo first and then creating InputData by follo

[2019-10-09 21:08] zojeda opened #192 "case management"
Hi Team,
Is kogito supporting or will support case management?

Thanks!

[2019-10-09 21:09] #192 closed

[2019-12-11 19:53] dmlloyd opened #256 "Generated application does not correctly access config"
In the (I assume) generated `org.kie.kogito.app.Application` class, there is a configuration property defined like this:

[code]

However, per the SmallRye Config implementation and ongoing spec discussions, the behavioral expectation of this construct (populating the field with an empty string if the value is not found) is incorrect.  The field should be declared as an `Optional<String>`, and the

[2019-12-11 20:08] mswiderski commented on #256
@dmlloyd will work on it tomorrow to replace all usage of it. Though it would require new release of kogito anyway so how urgent is to unblock the quarkus issue 6119?

[2019-12-11 20:12] dmlloyd commented on #256
I was hoping to get that upgrade in before the imminent 1.1.0 Quarkus release; however, I'm not sure if @gsmet is going to be keen on requiring a Kogito upgrade to proceed (the 1.1.0 release is already burdened with a few problems).  So: I'm not certain. :slightly_smiling_face:

[2019-12-11 22:07] gsmet commented on #256
I could be convinced to upgrade Kogito in Final if the changes are minimal and it doesn't end up being a rabbit hole.

[2019-12-12 08:37] mswiderski commented on #256
so what's the time frame for Final? depending on the nexus and sync with maven central it could take few days to get the kogito released...

[2019-12-12 09:24] gsmet commented on #256
It was supposed to be on Monday but given CR1 had a delay, I think Tuesday will be better.

[2019-12-12 10:55] mswiderski commented on #256
created kogito jira for it and PR is already prepared https://issues.redhat.com/browse/KOGITO-770, let's see when we can get this done and try to spin off 0.6.1 release

[2019-12-13 10:01] mswiderski commented on #256
this has been addressed in 0.6.1 of kogito

[2019-12-13 10:01] #256 closed

[2019-12-14 04:18] dmlloyd commented on #256
Thanks!

[2020-01-03 12:09] wtrocki opened #271 "Kogito Data Index Service as container"
Downloading jar manually and executing it can be hard task.
It will be much easier to build data index container on github releases.
The container could be used only for demo/examples and it can use empirical volume

[2020-01-03 12:13] wtrocki opened #272 "Data Index is not documented"
Data index (https://github.com/kiegroup/kogito-runtimes/tree/master/data-index) seems to be user-facing. I could not find any mention of data index apart from the official tutorial here:

https://github.com/mswiderski/kogito-travel-agency-tutorial/tree/master/06-kogito-visas#start-kogito-data-index-service

I'm happy to contribute some basic README file that can be extended over the time.

[2020-01-03 12:26] wtrocki commented on #271
After quick check I have realized that container might be overkill. It will be cool to get maven target at least that will use some preconfigured path for storing index files.

All of this is in relation to the example app: https://github.com/mswiderski/kogito-travel-agency-tutorial

[2020-01-03 16:21] wtrocki commented on #272
I actually found documentation: https://github.com/kiegroup/kogito-runtimes/wiki/Data-Index-Service

It will be nice to link from website to the wiki

[2020-01-03 16:22] #272 closed

[2020-01-03 17:03] ricardozanini commented on #271
Hi!

We already have an image (https://github.com/kiegroup/kogito-cloud/blob/master/s2i/kogito-data-index-overrides.yaml) for the Data Index service and support for it in the operator:

https://github.com/kiegroup/kogito-cloud-operator

Helps?

[2020-01-09 20:00] rimolive opened #277 "PMML support"
I'm working on getting a PMML model exposed as a microservice and found that kogito will be the best fit on that.

It would be great if kogito has PMML support. If there are already plans for it, please provide an ETA.

[2020-02-04 15:59] ricardozanini commented on #271
Why not closing it? :smiley:

[2020-02-04 16:01] wtrocki commented on #271
Sorry. My intention was to close it.

[2020-02-04 16:01] #271 closed

[2020-02-27 09:50] r00ta opened #339 "Springboot and DMN"
Hi,

I'm trying to use kogito with springboot and a DMN model. So I've started from the `jbpm-springboot-example` and I've put a DMN model in the resources.

I see that the java class of the DMN endpoint is generated but unfortunately the endpoint is not available. Am I missing something? Is there something in particular to do on developer side to make it work?

[2020-02-27 11:37] r00ta commented on #339
I found the issue looking at the examples updated in the last days: In the application it is mandatory to declare
[code]
For dmn, processes and rules. It would be useful to document it somewhere (have I missed it maybe?).

Feel free to close the issue (when the documentation is updated..?)

[2020-03-06 08:06] bbalakriz opened #355 "Generated Open API has mandatory id fields"
The generated Open APIs always has mandatory "id" and "workItemId" fields for GET and POST end points - /<<BPMN-MODEL-NAME>>. The swagger UI for these end points can be used only by providing dummy values for these fields.

Steps to reproduce:
===============
1. mvn quarkus:dev the project https://github.com/cristianonicolai/devconfcz-2020/tree/solved
2. Try to invoke the end point /travels with P

[2020-03-11 10:16] mbiarnes opened #362 "change trigger cron to ciBuildTriggers"
update triggers{ cron ('')} to ciBuildTriggers { - when the Jenkins version was upgraded to >= 2.176.1

[2020-03-11 15:30] r00ta opened #364 "Monitoring addon not working on Springboot"
Hi,

I'm trying to use the monitoring addon on Springboot and apparently the endpoint `metrics` is not exposed.

*How to reproduce*:

1) Checkout https://github.com/kiegroup/kogito-examples/tree/master/jbpm-springboot-example
2) add the dependency
[code]
To the `pom.xml`
And create the class `ProcessEventListenerConfig`:

[code]

3) run the app and execute
[code]
4) go to `http://localhost:8080/me

[2020-03-11 15:34] evacchi commented on #364
is it working on quarkus?

[2020-03-11 15:41] r00ta commented on #364
Yep, following the same steps on `jbpm-quarkus-example` (annotating the `ProcessEventListenerConfig` with `@ApplicationScoped` instead of `@Component`) it works as expected
![Screenshot from 2020-03-11 16-39-40](https://user-images.githubusercontent.com/18282531/76435281-19b9e680-63b7-11ea-925d-6a235c4affd0.png)

[2020-03-12 15:08] mswiderski commented on #364
the problem is caused by configuration for which packages to scan for JAX-RS components

Somehow the prometheus add-on uses wrong package name and due to the cannot be found by default. It's classname is in `org.kie.addons...` while it should be in `org.kie.kogito....`

you can workaround this be setting following in 'application.properties'

[code]

[2020-03-16 08:59] evacchi commented on #364
does this still apply? can we fix this in the addon?

[2020-03-16 09:17] mswiderski commented on #364
I'd say it should be fixed in the prometheus-monitoring-addon to use org.kie.kogito as package

this property fix is more of a workaround

[2020-03-16 09:20] evacchi commented on #364
created https://issues.redhat.com/browse/KOGITO-1452

[2020-03-25 08:35] evacchi commented on #364
resolved

[2020-03-25 08:35] #364 closed

[2020-04-19 13:42] ravim786 opened #456 "JSON Schema Validations with DMN Input model"
I am forced to use existing pojo model for my DMN execution.  The pojo objects are created off of a json schema with a bunch of validations defined.

1. Is it possible to validate the payload before DMN execution in Kogito?
2. Is it possible to force to use existing pojo model and not to generate again from DMN input model?
3. I tried to follow this thread - [DMN integration with OpenAPI support p

[2020-04-20 00:57] ravim786 commented on #95
the example link of onboarding is broken.

[2020-04-21 07:43] tarilabs commented on #95
Hi @ravim786 which link is broken, please?

Can you provide a permalink or a screenshot?

Thanks,
MM

On Mon, 20 Apr 2020 at 02:58, ravim786 <notifications@github.com> wrote:

[2020-04-22 00:38] ravim786 commented on #95
The reference link above
[https://github.com/kiegroup/kogito-examples/blob/master/onboarding-example/payroll/src/main/java/org/kie/kogito/examples/VacationDaysDMNEndpoint.java#L41](https://github.com/kiegroup/kogito-examples/blob/master/onboarding-example/payroll/src/main/java/org/kie/kogito/examples/VacationDaysDMNEndpoint.java#L41)

[2020-04-22 07:07] tarilabs commented on #95
Yes it's normal that is an old link; now DMN REST endpoints are
code-generated automatically by Kogito, based on the DMN assets.

So kogito will scan the assets, which for that example are present here:
https://github.com/kiegroup/kogito-examples/tree/master/onboarding-example/payroll/src/main/resources/org/kie/kogito/examples/payroll
and will generate automatically the REST endpoint, as usual.

H

[2020-08-14 08:12] surajrrao opened #700 "Loading rules into Knowledge Builder from String is failing"
Below is the code used add rules from string into knowledge base

    	KnowledgeBuilder kbuilder = KnowledgeBuilderFactory.newKnowledgeBuilder();
        kbuilder.add( ResourceFactory.newByteArrayResource(alertServiceDrlStr.getBytes()),
                      ResourceType.DRL );
        kbuilder.add( ResourceFactory.newByteArrayResource(factTypesDrlStr.getBytes()),
                ResourceType.DRL

[2020-08-17 17:04] mariofusco commented on #700
You're using Kogito with the old Drools 7 API and it isn't supposed to work this way. You should process and compile the drl files generating the executable model through our maven plugin instead. If you want to keep using those old APIs you could try to exclude drools-core-static and add drools-core-dynamic among your dependencies (which is how Drools v7 works) but this is strongly discouraged an

[2020-08-17 17:04] #700 closed

[2020-08-18 06:35] surajrrao commented on #700
@mariofusco thanks for replying. Here is my requirement, let me know if this makes sense to go with Kogito

1. Manage all DRL in MongoDB
2. Load all needed DRL during startup
3. And refresh the rules as & when it gets updated on the DB

[2020-08-18 14:56] mariofusco commented on #700
I believe this use case doesn't make much sense in Kogito which is mainly made to work with precompiled DRL (and Java classes, namely the executable model, generated out of them). I think that Drools will be a better fit for your use case.

[2020-08-25 07:44] tarilabs commented on #95
Considering this issue as resolved since https://issues.redhat.com/browse/BAPL-1616 enables "strongly typed" feature on Kogito and consequently Swagger/OpenAPI is generated as part of the Kogito build

[2020-08-25 07:44] #95 closed

[2020-08-25 07:49] tarilabs commented on #456
A1, A2:
the answer to that is **_scaffolding_**, as discussed in this email thread: https://groups.google.com/g/kogito-development/c/93-qVXXisKA/m/gbz52dToBQAJ

A3:
the related issue is considered resolved, ref https://github.com/kiegroup/kogito-runtimes/issues/95#issuecomment-679862224 since enabling "strongly typed" feature on Kogito (https://issues.redhat.com/browse/BAPL-1616) will also generat

[2020-08-25 07:49] #456 closed

[2020-08-26 06:43] #339 closed

[2020-09-07 14:51] antoniomacri opened #746 "kogito-quarkus: modify() multiple properties"
Hope this is the correct project to address this issue.

I'm using the Quarkus extension.

If I have:
[code]
it is compiled into:
[code]

If I use two modify()s, it turns into:
[code]

However in both cases the bitmask is defined on a single property:
[code]

Is there any chance to support modifying muliple properties at once?

[2020-09-09 02:24] sherl0cks opened #751 "AWS Lambda Example"
Hello All. Hope everyone is well. Been sometime since my red hat days but excited to be working with this community again.

I'm looking to deploy drools decision tables or drl templates / quarkus to graal native in aws lambda. I looked through the quarkus guide today and all the examples I saw seemed to build a REST API during the quarkus deploy stage using the .bpmn. That makes loads of sense in

[2020-09-09 23:23] sherl0cks commented on #751
I got it working here https://quarkus.io/guides/kotlin.

[2020-09-09 23:25] sherl0cks commented on #751
@DuncanDoyle I hope all is well my old friend.

This may be of interest to you. The quarkus kogito guide could use a little love, and this may be a good addition. I'll try to carve out some time in the next week if some one the red hat team is interested.

[2020-09-11 09:21] gitgabrio commented on #277
HI @rimolive
I'm the responsible of the Trusty PMML development.

We are actively working on Kogito-PMML integration and currently there are two options
1) directly invoking a PMML through generated "prediction" REST endpoint.
2) use DMN "as gateway" to invoke the PMML

With solution 1) the new Trusty PMML implementation will be invoked, but the current coverage of the specification is limited.
Wi

[2021-01-22 15:42] PullDakar opened #999 "Adding new bpmn at runtime"
Hello! I'm new at the kogito framework. There is a requirement for the system that I will have to develop - to load bpmn processes at runtime. I have not found any tutorials on this topic. Does kogito support such a feature or not?

[2021-02-03 21:55] danielarbo commented on #999
+1!

[2021-02-18 14:52] r00ta commented on #999
Hi @PullDakar , I confirm that this scenario is not supported by kogito. We have something similar for DMN here https://github.com/kiegroup/kogito-apps/tree/master/jitexecutor , but not for processes.

[2021-03-11 15:26] c0ldd opened #1135 "Questions about businessKey field"
Hi ! There is not a lot of information about this field. According [release notes](https://developers.redhat.com/blog/2020/03/20/kogito-0-8-0-features-online-editors-and-cloud-native-business-automation/) it should be "meaningful process IDs" and i can get process instance by this id. But when i call

```curl -X POST "http://localhost:8080/blankprocess?businessKey=Key-111" -H  "accept: */*" -H  "C

[2021-03-14 15:48] mingfang opened #1138 "process-svg-quarkus-addon does not handle default port and ssl properly"
https://github.com/kiegroup/kogito-runtimes/blob/741a14640fa11f2ee1d21104ab3e47df8bec4831/addons/process-svg/process-svg-quarkus-addon/src/main/java/org/kie/kogito/svg/dataindex/QuarkusDataIndexClient.java#L70

I confirmed this fix locally
[code]

[2021-03-14 15:51] mingfang opened #1139 "process-svg-quarkus-addon does not send proper json"
https://github.com/kiegroup/kogito-runtimes/blob/741a14640fa11f2ee1d21104ab3e47df8bec4831/addons/process-svg/process-svg-quarkus-addon/src/main/java/org/kie/kogito/svg/dataindex/QuarkusDataIndexClient.java#L82

here is the fix
[code]

[2021-03-16 13:28] mingfang commented on #1139
It turns out sendJson() and sendJsonObject() do exactly the same thing.

[2021-03-16 13:28] #1139 closed

[2021-03-18 14:15] aramashkan opened #1155 "Endpoint trying synchronously return result of instantiated process"
Hi
Got simple bpm like this:
![Screenshot 2021-03-18 at 16 21 02](https://user-images.githubusercontent.com/49194616/111636282-62498280-8809-11eb-8682-0f64fe87ac12.png)
Service task is calling rest service. Why when i'm creating instance , i'm waiting all process to be finished to receive my uuid ? How can i control this behaviour ? I can have multiple sync calling in my process  with unknown time

[2021-03-24 12:01] #1138 closed

[2021-03-26 18:26] rakeshnpatel opened #1181 "duplicate case value error in getPropertyIndex(String name) method in a class that implements org.drools.model.DomainClassMetadata"
We have a domain model with 2 properties. 1 in the base class and the other in the parent class:

[code]

and
[code]

when Kogito generates the Metadata class that implements ``org.drools.model.DomainClassMetadata``, in the overridden method ``getPropertyIndex(String name)`` it generates duplicate case statement for ``resource`` property resulting in duplicate case statement compilation error.

An

[2021-04-02 22:10] rakeshnpatel opened #1193 "ReflectionProtoGenerator - clazz.getDeclaredFields is not compatible with PropertyDescriptor"
```messageFromClass``` method iterates through all the properties of a given class. the properties are retrieved using Introspector which returns all the properties including that of super class(es).

however, inside the method we are checking for property accessors using java ```getDeclaredField()``` method call which only looks at current class.

this results into exception ```java.lang.NoSuchFi

[2021-04-09 16:25] vladimirfx opened #1214 "How to start process asynchronously?"
If the process is composed of service and script nodes only (no message node or human task) it runs to the end synchronously.

Current behavior:

1. Caller sends process start request (HTTP POST)
2. Kogito runtime starts the process instance
3. Kogito runtime runs the process instance to its end
4. **Kogito runtime return response to the caller (process instance id)**

If any node in the process e

[2021-04-09 16:26] vladimirfx commented on #1214
Maybe duplicate of #1155

[2021-04-09 16:27] vladimirfx commented on #1135
Hit by this too in the context of forced sync process execution. Any thoughts from maintainers?

[2021-04-12 14:11] asrocha opened #1216 "Python or Celery or Ansible: Tasks"
Hi, I ' m a Security Operation Manager, my team  have a lot of  ansible playbooks and roles, this roles do almost all things we need to do in our  day to day, but now we wanna a step more,  create workflows to execute a set of tasks, playbooks or roles.
I  ' m a red hat lover, and had thinking to use camunda , jbpm or flowable this one we starting tests, but when  I see Kogito I just say it this w

[2021-04-22 16:50] rakeshnpatel opened #1248 "Return/handle of exception during process execution"
Currently, when the reusable subprocess node throws an exception during process execution, it is being captured by kogito and getting logged. The main process instance does not have the handle of the subprocess error and the state remains active. due to this when the REST resource (which starts the main process) skips the checkerror() since the state is active (1) and returns with HTTP response co

[2021-04-25 15:50] rakeshnpatel opened #1258 "Parent process remains in ACTIVE state when an exception occurs in re-usable subprocess"
Scenario: you have a BPMN with re-usable subprocess being called from parent process.

if the sub process returns an exception (e.g. runtime exception), that sub process gets to state of ERROR (5) but the parent process remains in ACTIVE state (5) and the system responds with success response.

Also if you have listeners implemented (ProcessEventListener), you do not get a handle in any of the lif

[2021-06-04 14:31] ppalaga opened #1350 "Upgrade to Quarkus 2.0.0.CR3"
Quarkus 2.0.0.CR3 was released today. Could you please upgrade in Kogito?
We (Camel Quarkus) would very much appreciate a Kogito release based on Quarkus 2.0.0.CR3 to be able to test with Camel Quarkus and even on Quarkus Platform. Is there any hope for it?

[2021-06-23 10:33] tkobayas commented on #1181
Thank you for reporting! I have filed a JIRA for the issue.
https://issues.redhat.com/browse/DROOLS-6442

I'm afraid that there is no good workaround other than changing the property name.

I'm closing this github issue now (as we are mainly watching JIRA, Zulip and Kogito mailing list). Please kindly follow up / comment on the JIRA if necessary.

Thanks again.

[2021-06-23 10:33] #1181 closed

[2021-06-30 13:06] #277 closed

[2021-06-30 13:12] ricardozanini commented on #751
Hi @sherl0cks! Many thanks for your contribution and I'm sorry for the long late reply. Were you able to play around with it? How was your experience? Can you share more details?

[2021-06-30 13:13] ricardozanini commented on #999
@cristianonicolai @tiagodolphine @fjtirado is this feasible to achieve? Can we open a JIRA to track this down?

[2021-06-30 13:26] fjtirado commented on #999
I think (but I have not tested) that, if he is running on quarkus dev mode from any IDE (or console), he can add a new bpmn to an existing project (resource directory)  and this will be automatically compiled and available to work with as it was created before the quarkus is run.

[2021-06-30 13:26] ricardozanini commented on #1216
Hi @asrocha you can use our [serverless workflow implementation to call REST services](https://github.com/kiegroup/kogito-examples/tree/master/serverless-workflow-service-calls-quarkus) (given you have an openapi spec for the services) or use our [BPMN Rest Services](https://github.com/kiegroup/kogito-examples/tree/master/process-rest-service-call-quarkus). :)
This way you orchestrate the Ansible

[2021-06-30 13:31] ricardozanini commented on #1350
Hey @ppalaga! We've just upgraded: https://github.com/kiegroup/kogito-runtimes/blob/master/kogito-build/kogito-build-parent/pom.xml#L127

The artifacts for 1.8.0 release are already on Maven Central. Reach out to me if you have any problems.

[2021-06-30 14:20] ppalaga commented on #1350
Sorry for the spam, we actually do not depend on Kogito. I confused it with OptaPlanner.

[2021-06-30 14:20] #1350 closed

[2021-06-30 14:34] mbiarnes commented on #362
this issue can be close since in the recent version used Jenkins `2.277.2`  and the PRs moved to webhooks and are not triggered any more by a ciBuildTrigger

[2021-06-30 14:34] #362 closed

[2021-06-30 16:40] sherl0cks commented on #751
Hey @ricardozanini. If you search through zulip chat for "Tyler Thrailkill" @snowe2010 , you can see some history there with our experience with quarkus / lambda / kogito. I'm a bit removed from this work, but here is the summary as I know it:

- we have had services in production for several months
- we currently use the amazon lambda http extension as a bridge, but moving forward, the preferred

[2021-06-30 16:42] snowe2010 commented on #751
There are a few 'reproducers' for bugs, that can give guidance as to how we wrote the lambdas as well. They will be reproducing the bugs they were made for, but otherwise can serve as a guide.

[2021-06-30 17:08] fjtirado commented on #1135
Hi, the usage of businessKey as described in the Release notes was deprecated with this JIRA https://issues.redhat.com/browse/KOGITO-2893
@hmanwani-rh can you check if current Release notes needs an update?

[2021-06-30 17:55] ricardozanini commented on #1214
Hi @vladimirfx! Sorry for the long delay.
For jBPM7, which Kogito is based on, we support marking any node as async. For Kogito, we don't have this feature just **yet**. There are other things to consider for this feature, and I'll let you know once we have it. If I may ask, could you share your context? This way, we can include it in our implementation plans.

[2021-06-30 18:02] ricardozanini commented on #751
Many thanks for sharing! I understand [this is the thread](https://kie.zulipchat.com/#narrow/stream/232676-kogito/topic/Lambda.20Invocation.20Time) you're referring to?

[2021-06-30 18:29] snowe2010 commented on #751
There are many threads. If you look through [this list](https://kie.zulipchat.com/#narrow/sender/344872-user344872) you should be able to find several reproducers. but I don't know if all of them use AWS lambda. some might just be local reproducers.

[2021-07-01 10:04] hmanwani-rh commented on #1135
@fjtirado Thanks for letting me know. However, I checked the latest Kogito 1.8 release notes and there is no mention of businessKey in that. Therefore, I do not think we need any update in the release notes. Please let me know if you've any questions.

[2021-07-01 11:47] vladimirfx commented on #1135
So, as a result of KOGITO-2893 we have:
- no way to provide own process id
- no way to access process instances by businessKey by any existing API (even listing of all process instances is not returned businessKey.)

Looks to me like hard functional degradation. Stateless systems (which can't store generated process ID) have no way to start the process with their own id and check the status later.

[2021-07-01 11:51] vladimirfx commented on #1135
There are no release notes where existing functionality is broken (search by businessKey). It is silently disabled without any notes and/or replacement - exactly what about this issue is.

[2021-07-01 12:59] ricardozanini commented on #751
Thanks for the references @snowe2010. I'll close this issue since I understand the conversation is ongoing on Zulip. Feel free to reopen if you feel like it.

[2021-07-01 12:59] #751 closed

[2021-07-01 15:04] fjtirado commented on #1135
@vladimirfx
Yes, as you can see by looking at the JIRA description, there was no agreement on the team ( I was not here yet ;)) about the solution of this JIRA.

[2021-07-01 15:08] vladimirfx commented on #1135
Maybe provide at least a discrete API call to access process state by businessKey?

[2021-07-01 15:10] fjtirado commented on #1135
@vladimirfx  take a view to [data index ](https://github.com/kiegroup/kogito-runtimes/wiki/Data-Index-Service)

[2021-07-02 13:53] r00ta commented on #999
Hi @fjtirado , I think your idea might be ok for development purposes but not for production systems.

[2021-07-02 14:14] fjtirado commented on #999
@r00ta yes, thats why I mention quarkus dev mode.
Honestly, for production environment, it would be a long discussion to assess if a requirement to add things on fhe fly is really useful (all the places where I have worked always establish a "window" to upload new content, during that window the machine being updated is not functional)

[2021-07-05 14:31] mariofusco commented on #746
According to drools drl syntax you're writing that modify block mistakenly. The setters should be separated by a comma like in

[code]

I agree that the fact that kogito is taking care of only one of the 2 statements instead of emitting a compile time error is misleading. I will fix this.

[2021-07-05 14:31] #746 closed

[2021-07-06 06:34] vladimirfx commented on #1135
@fjtirado Thanks, I know about the Data Index subsystem. But IMO it is on a different level of abstraction and it is optional. This issue is about low-level process management.
Can we obtain process instance ID by known businessKey without data index? If yes - I want to implement such API method.

[2021-07-06 07:04] vladimirfx commented on #1214
I need a robust way to start processes that not depends on process design (which nodes are used sync/async). BPM by its nature is a state machine which means it stops somewhere and waits for some event. So start the process and obtaining the result should be separate tasks. But now caller (starter) depends heavily on process design. It can't obtain process instance ID and check process later.
In m

[2021-07-06 09:16] fjtirado commented on #1135
@vladimirfx
You are right, it is a different level of abstraction, but I think is still useful in the use case you mention. You store your business key somewhere else and use it to retrieve a "persistent" process that has been started a time ago, most likely already completed (note that Runtimes API only return process instances that have being finished if persistence addon is enabled)
Runtime API

[2021-07-06 12:10] vladimirfx commented on #1135
Because of https://github.com/kiegroup/kogito-runtimes/issues/1214, we are stuck in our adoption of Kogito:
- no external process ID and way to discover generated process ID by external ID
- no way to start the process robustly (independent of process design) to retrieve generated process ID AND associate it with our own (external) ID

It is a very practical problem because we are trying to build

[2021-07-06 12:20] fjtirado commented on #1135
The work around is to use curl -X POST "http://localhost:8080/blankprocess?businessKey=Key-111" -H "accept: */*" -H "Content-Type: application/json" -d "{}", which is still doable and then use Data Index (which although optional, it is intended to be used by any Kogito deployment) to retrieve process instance information associated to that businessKey.

[2021-07-06 12:28] fjtirado commented on #1135
I will also discuss with my colleagues if we should add/recover GET API to retrieve process instance id using businesskey as identifier (rather than the generate process id), but please took into account that if persistence is not enabled that will only return active (still in execution) instances, but it wont return process instances that has been completed.
For such discussion, it will help if y

[2021-08-06 13:18] tarilabs opened #1513 "This is a test"
we are just trying out the new GHA following https://github.com/kiegroup/kogito-runtimes/pull/1511 merged into main branch.

[2021-08-06 14:05] tarilabs commented on #1513
worked as expected @danielezonca
![image](https://user-images.githubusercontent.com/1699252/128522412-7cd0f84f-a8f2-46cb-845d-4daffc66ce73.png)

https://kie.zulipchat.com/#narrow/stream/232676-kogito/topic/GitHub.20Issues.20-.20This.20is.20a.20test/near/248613579

Resolving this issue.

[2021-08-06 14:05] #1513 closed

[2021-08-12 17:59] ricardozanini opened #1529 "The only change I see is this:"
The only change I see is this:

[code]

[2021-08-12 17:59] #1529 closed

[2021-09-06 15:46] danielezonca commented on #1193
Fixed by https://github.com/kiegroup/kogito-runtimes/pull/1586

[2021-09-08 20:01] #1193 closed

[2021-09-15 23:30] treyhyde commented on #999
We'd love to use kogito as a service component in a multi-tenant SaaS application.   These sorts of issues mean we are swimming up stream.   It doesn't just seem to be a problem of loading a bpmn JIT from a DB but so much about the ecosystem seems to be driven around design time decisions rather than run time.

[2021-09-16 10:39] tarilabs opened #1605 "TEST"
This is a test following some recent changes. Please ignore this github issue.

[2021-09-16 10:40] #1605 closed

[2021-09-16 17:59] ricardozanini commented on #999
@treyhyde Kogito was designed to leverage build time. This means that the resource files (such as BPMN) are processed during build/compilation phase, the code for the process is generated and exposed in the API.

For this particular use case, can you share more?

I'd say that to add a BPMN file in runtime to work with, the interface and domain model should be preemptively defined (so other actors

[2021-09-17 22:59] treyhyde commented on #999
Sure, we want to allow customers to manager real life business processes and cases in a less bespoke way.  BPMN and CMMN are good fits at a high level  We'll have canned prescriptive processes and then customers will build their own processes either via a UI in which they don't realize they are building them or directly via a BPMN editor.

My thought was, start with the prescriptive processes wher

[2021-09-20 14:44] air237 opened #1615 "kogito-addons-persistence-jdbc is not compatible with mariadb"
There are two sql files in the resources:
kogito-runtimes/addons/common/persistence/jdbc/src/main/resources/sql/
- create_tables.sql
- exists_tables.sql

These sql files are written in postgresql syntax.
There is a specific addon for postgresql. The sql files in kogito-addons-persistence-jdbc should be written in standard sql.

[2021-10-05 12:13] AmareshKulkarni commented on #999
@ricardozanini Here is a little more about a use-case that requires the dynamic loading of business process and it aligns with @treyhyde's concept at a high-level.  A multi-tenant web application that is offered as a SaaS product has a registration business process that combines various manual and service tasks. The core model objects for this business domain are predefined. However, every organiz

[2021-10-05 14:02] ricardozanini commented on #999
@AmareshKulkarni, for this use case, I would create a new service for each tenant and not only one for all tenants. So it will scale better IMO.

@treyhyde, I see. I can see arguments about building and have a unique deployment for each iteration, but also I can see one individual "runner" loading process on demand.
.
We are working on ways to have such a worker runner node that will receive the p

[2021-10-05 14:27] treyhyde commented on #999
The thought crossed my mind... > 100k HA deployments will blow up pretty much anything and just make the economics be several orders of magnitude off.  Even as ksvc's (which would be my preference anyway), it would have a pretty extreme cost as the kube API tends to handle > 1000 "anythings" pretty poorly.   Even if that worked, that's assuming all the customers are idle... if any small set of cus

[2021-10-22 03:57] aoslee opened #1672 "kogito-addons-persistence-jdbc is error on 1.12.0.Final with mysql"
Hi all:
    I get error message when using mysql with kogito-addons-persistence-jdbc.
    When that process would be completed, i get error message and the process don't  be complete.
   Please see the detail and thanks a lot:

2021-10-22 00:28:12.018 ERROR 24026 --- [0.0-8080-exec-3] o.j.w.i.i.WorkflowProcessInstanceImpl    : Unexpected error (id 756a2269-13b2-4b2b-900c-374b1e80d80b) while execut

[2021-10-27 15:49] #1672 closed, assigned to nobody

[2021-11-03 09:04] cristianonicolai commented on #1615
@air237 a fix should be available on Kogito version 1.12, feel free to reopen in case still having issues with this.

[2021-11-03 09:04] #1615 closed

[2021-11-21 04:34] rgmz opened #1734 "[kogito-quarkus-decisions] 'ANTLR version 4.8 used for parser compliation does not match the current runtime version 4.9.2' warning"
## Description

While following the [Quarkus Kogito DMN guide](https://quarkus.io/guides/kogito-dmn), I noticed the following warning. While this does not seem to cause any issues, I thought it'd be prudent to report it:
[code]

There is a previous issue on the Quarkus repository about this, so I'm guessing this is a mismatch between Quarkus and Kogito dependencies.
- https://github.com/quarkusio/

[2021-11-21 08:31] tarilabs commented on #1734
Thank you for reporting Richard.
This indeed is generally not an issue, but I can understand it could be an annoying warning.

It seems related to Quarkus defining the Antlr4 version as part of the whole ecosystem here:

https://github.com/quarkusio/quarkus/blame/c41872f2d3a1ecf97245c7f0eaaa4a18c658b07f/bom/application/pom.xml#L3252-L3261

in order for some MongoDB/Panache support, but with the si

[2021-11-21 20:00] rgmz commented on #1734
Thanks Matteo. Let me know if I can help out in any way!

[2021-11-22 14:50] tarilabs commented on #1734
fyi this is tracked as https://issues.redhat.com/browse/KOGITO-6285 (regardless of Quarkus team feedback, which will be considered in parallel)

[2021-11-24 08:29] tarilabs commented on #1734
We have bumped antlr4 version in Drools DMN Engine, to align to the current Quarkus version at the time of writing. This should avoid the warning at the next Kogito release incorporating this change + Quarkus platform release.

Unfortunately, until MongoDB+Panache will resolve the dependency implication following this advice:
https://github.com/quarkusio/quarkus/issues/19140#issuecomment-975386153

[2021-11-24 08:29] #1734 closed

[2021-12-28 05:13] wxyzyu opened #1825 "Can not package on Windows10"
Hi,
I'm trying Kogito wtih serverless workflow by running the kogito-examples.But I can not package the example project on Windows, while there seems to be no problem when I package on CentOS.

On Windows, the generated openapi sources are located in ".\kogito-examples-main\serverless-workflow-temperature-conversion\conversion-workflow\target\generated-sources\kogito\\**src\main\java**\org\kie\kog

[2022-01-04 14:52] ricardozanini commented on #1825
Hi! Thanks for reporting it and sorry for the late reply. I've opened [KOGITO-6491](https://issues.redhat.com/browse/KOGITO-6491) to fix it. I will work on it ASAP.

Sorry for the late reply!

[2022-01-04 19:55] ricardozanini commented on #1825
@wxyzyu can you try the patch on #1832? You can easily and quickly build `kogito-runtimes` locally with `mvn clean install -Dquickly`.

[2022-01-10 23:07] Sciumo opened #1848 "Current archetype 1.14.0.Final kogito-spring-boot-starter; Error ComponentsWidthsExtension XStream conversion failure"
Using essentially default Archetype (just with scesim added), Simulator gives long list of debug warnings for XStream conversion failure.

Is this the correct place to create an issue?

`[INFO] Running com.example.KogitoScenarioJunitActivatorTest
17:54:51.395 [main] DEBUG org.kie.dmn.core.compiler.DMNEvaluatorCompiler - default DMNEvaluatorCompiler.
17:54:51.441 [main] DEBUG org.kie.dmn.backend.ma

[2022-01-11 10:47] wxyzyu commented on #1825
Hi,
Thank you for your work. I have tried,and it works.The generated openapi client is in the right folder.
But some new problem occured:

1. when I started kogito-examples\serverless-workflow-temperature-conversion\conversion-workflow with "mvn clean package quarkus:dev", an error Caused by:" java.nio.file.InvalidPathException: Illegal char <:> at index 2: /E:/projects/kogito-examples/serverless-

[2022-01-11 21:14] ricardozanini commented on #1825
Interesting, I'll take a look at it

[2022-01-11 21:18] ricardozanini commented on #1825
Opened https://issues.redhat.com/browse/KOGITO-6522 to track it.

[2022-01-15 17:50] StephenOTT opened #1871 "Swagger/OpenAPI generation docs? Explain what gets generated"
### Description

When you open a generated swagger UI there is lots of endpoints for a simple process (such as user tasks-quarkus), but Is there docs about what endpoints are generated and how/based on what data points?

### Implementation ideas

_No response_

[2022-01-15 17:53] StephenOTT opened #1872 "Process versioning protocol?"
### Description

In kogito, what is the protocol for process versioning?

Examples

1. You deploy a process and find a bug, you make a change to the BPMN and restart the app?
2. If you want to run multiple parallel versions, are these separate application deployments?
3. Other considerations?

### Implementation ideas

_No response_

[2022-01-15 18:18] StephenOTT opened #1873 "Quarkus Dev UI breaks during hot reload of BPMN change"
### Describe the bug

edit: this seems to break even after a full clean and compile.

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/1994838/149633843-d4107a34-a70b-4f8d-9d65-ab9139a733ac.png">

Running https://github.com/kiegroup/kogito-examples/tree/stable/process-usertasks-quarkus

The change i made to the BPMN was to tag  firstLineApprover and secondLineApprover p

[2022-01-15 21:00] StephenOTT opened #1874 "Comments/Attachments on User Tasks should generate process events with the comment/attachment data - Missing Context for triggering Event?"
### Description

When a EventPublisher consumes `DataEvent`s and the /comments and /attachment endpoints are used, there should be a event generated that contains the Comment/Attachment.

An Event is generated (ProcessInstanceDataEvent and a UserTaskInstanceDataEvent), but the event does not seem to contain the comment/attachment data.

### Implementation ideas

_No response_

[2022-01-15 21:01] StephenOTT opened #1875 "Enable/Disable option for Comments and Attachments in a process"
### Description

In many cases you don't always want the comments and attachment endpoints being generated.  Would be great to have the ability to disable these features.

### Implementation ideas

_No response_

[2022-01-16 14:15] StephenOTT commented on #1874
UPDATE:

After further investigation, I am now seeing the comments as part of the Data property: so to recap based on this finding:

Process Events are essentially snapshots of the data (Process, UserTasks and Variables)?

Is there context about what triggered the event? (something that alludes to the UserTaskInstanceDataEvent was generated because a comment was added/removed, etc?)

What are the

[2022-01-16 14:46] StephenOTT opened #1876 "Docs enhancement for Locking handling"
### Description

https://docs.jboss.org/kogito/release/1.15.0/html_single/#_enabling_optimistic_locking_with_persistence details that locking is supported, but how is it handled?  Coming from Camunda BPM, i am looking for some level of detail similar to: https://docs.camunda.org/manual/latest/user-guide/process-engine/transactions-in-processes/#optimistic-locking / https://docs.camunda.org/manual/

[2022-01-16 17:30] StephenOTT opened #1877 "Filesystem persistence: Expected usage? (docs unclear)"
### Description

The docs reference filesystem persistence: https://docs.kogito.kie.org/latest/html_single/#_kogito_persistence_add_on

<img width="1080" alt="image" src="https://user-images.githubusercontent.com/1994838/149670994-e808785b-8565-4dfc-b6c3-2fb631adf0f7.png">

but the persistence section of the docs does not speak to its usage, limitations, etc: https://docs.kogito.kie.org/latest/htm

[2022-01-17 12:23] ricardozanini commented on #1871
@StephenOTT the closer I could find in the docs is this section: https://docs.jboss.org/kogito/release/latest/html_single/#ref-bpmn-model-example_kogito-developing-process-services. I've opened [KOGITO-6559](https://issues.redhat.com/browse/KOGITO-6559) to follow-up this request. Thanks!

[2022-01-17 12:25] fjtirado commented on #1875
The fact that an endpoint is there, does not necessarily means you need to use it. But comments/attachments are part of the task (as any other field there) and cannot be disable on demand. Since having two extra endpoint  has not any impact on performance, I cannot see this as a valid issue.

[2022-01-17 12:25] #1875 closed

[2022-01-17 13:31] StephenOTT commented on #1875
@fjtirado thanks for the quick feedback.  How are you choosing endpoints that go into the default vs management endpoints?

[2022-01-17 15:45] fjtirado commented on #1875
@StephenOTT Thats a pretty good quesiton. If I recall my own rationale correctly, after much thought (Becasue it is a corner case, so whatever decision we have taken will be valid or invalid no matter which one we have taken ;)), I put attachment/comments on runtime API  becase I consider them operations more closely related to task life cycle than task  user or metadata management (for example, a

[2022-01-17 15:49] fjtirado commented on #1875
On the other hand, comments and attachments are always the same regardless of the task, so they can be perfectly be on management. As I said, it is just a matter of taste.

[2022-01-17 15:52] StephenOTT commented on #1875
Okay, and if the ~design around access to these endpoints based on a API gateway that controls permissions to the endpoint or essentially using something like: https://quarkus.io/guides/security-authorization#authorization-using-configuration ?

Comments/attachments could be seen as typical user functions, but then we get into the ability to change phases, modify existing comments, etc.  I ask thi

[2022-01-17 15:54] StephenOTT commented on #1875
In a similar vein, are there handlers/listeners for comments and attachments that can overwritten?  So attachments can be stored in a custom location / processed in a custom way?

[2022-01-17 16:39] StephenOTT opened #1886 "OpenAPi codegen for processes should use Process Documentation and Start Event documentation to populate descriptions in openapi and swagger ui"
### Description

for a process there is the element doc and the "Process instances description" fields:

<img width="506" alt="image" src="https://user-images.githubusercontent.com/1994838/149807982-852873f6-cc35-411e-988a-5261853b37d2.png">

and on a start event we have:
<img width="1958" alt="image" src="https://user-images.githubusercontent.com/1994838/149808044-ef59bf42-adfb-4e95-a578-87b25866

[2022-01-17 17:14] fjtirado commented on #1875
An attachment is just a link to an already stored resource somewhere else. The responsible for storing the resource is the caller of the API. This is a conscious decision to avoid using Kogito runtimes db as a data store for attachment content.

[2022-01-17 17:23] fjtirado commented on #1874
A VariableInstanceEvent is generated when you do a PUT on the process and update the variables.
Since, as you already mentioned, these events are snapshots and not incremental ones, there is no context of what really changed from one snapshot to another

[2022-01-17 17:24] #1874 closed

[2022-01-17 17:26] fjtirado commented on #1874
UserTaskDeadline handling for Kogito is explained in this blog entry https://blog.kie.org/2021/08/kogito-task-deadlines.html

[2022-01-17 17:27] StephenOTT commented on #1874
@fjtirado my concern/thought comes from audit trail generation.  The events give you the data, BUT it seems the context of the event is lost?  Such as yes a snapshot was generated, but WHY was it generated?  "what command in the system triggered the event generation?"

[2022-01-17 17:30] fjtirado commented on #1875
To be honest, I think that even in that use case the endpoint still make sense. You still want to link the URI you are creating with the task and for that you will use the existing endpoint. What I will do is to create an additional endpoint that accepts the byte[] content, that store that byte[] in the DB of you choice and then call the existing point.

[2022-01-17 17:32] StephenOTT opened #1887 "Business Key is missing from default api responses of POST and GET process"
### Describe the bug

When you create a process instance (such as in swagger ui), the business key is required.  But the Key is not returned in the response (but the process' ID is)

When you do a GET on the process ID, the business key is still not returned.

### Expected behavior

the business key being a required field would return in the instance generation response and on GET of the process i

[2022-01-17 17:35] StephenOTT commented on #1875
Agreed that is an option.  Why would you call the second REST API vs adding an attachment through the java api?

[2022-01-17 17:39] StephenOTT commented on #1874
@fjtirado using the process-usertask-quarkus example, I can run a PUT on the /approvals endpoint for a instance that was previously created, and doing a change the the variables:

<img width="1800" alt="image" src="https://user-images.githubusercontent.com/1994838/149815660-f12c7b6b-c14b-4918-9109-eabd9ad82204.png">

it generates a ProcessInstanceDataEvent, not a VariableInstance event.

Is this a

[2022-01-17 17:40] fjtirado commented on #1875
For security please ignore that documentation section, it is a leftover.
1) This runtimes API is supposed to be called from a gateway API which security constraints Im not really familiar with
2) In case it is directly invoked, you probably have noticed that every generated endpoint has two extra parameters: user and group.
After going through some layers, this user and group are used here
https:/

[2022-01-17 17:42] fjtirado commented on #1875
I was assuming the new endpoint is in a different server than the existing one. If you are using the same kogito instance, then you can just disable rest generation and generate your desired endpoints

[2022-01-17 17:46] fjtirado commented on #1874
Take into account that this event clasess were designed with data index on mind (data index population is based on snapshots)
For operation recording (or audit) these events are indeed not so useful, but still you can find out what change (and the change is the why) comparing two consecutive snapshots (assuming you are storing them)
PS I perfectly understand your concern, eventually we will need e

[2022-01-17 17:51] fjtirado commented on #1874
I will take a look at the presumed bug and confirm

[2022-01-17 18:07] StephenOTT commented on #1875
:) haha BUT I WANT THE BEST OF BOTH WORLDS :)  Generation + customization.  But understood 👍 thank you for all the details.

In my use cases I am assuming that the Kogito app/server is what is "available" to the client/UI, and there is no additional server.  If kogito was designed for a different arch in mind, please let me know and i can adjust for this! :)

[2022-01-17 18:13] fjtirado commented on #1875
In theory you can take the generated endpoints and scaffold them (meaning you generate once and then you change them in your own) @evacchi can probably provide more insights into that

[2022-01-17 18:24] fjtirado commented on #1887
This is being worked out here https://github.com/kiegroup/kogito-runtimes/pull/1868

[2022-01-17 18:25] fjtirado commented on #1887
Also, business key should be optional. But if is there, should be returned, now it is not

[2022-01-17 18:27] StephenOTT commented on #1887
Okay then ya it is currently mandatory in the current release.

[2022-01-17 18:50] fjtirado commented on #1874
https://issues.redhat.com/browse/KOGITO-6568 was opened for the audit thing

[2022-01-17 18:59] StephenOTT opened #1888 "Docs on Public APIs for main Services to inject?"
### Description

Going through docs, code samples, and some of the management API, i have found the following services that seem to be referenced:
[code]
But cannot find much in way of docs if these are the "main" services / top level APIs to access?

Typical entry points users want are:

1. Start process instances
2. Find existing instances, tasks, activities
3. Navigate a BPMN structure to query

[2022-01-17 19:40] fjtirado commented on #1887
@StephenOTT  with  #1868, business key will be made optional in swagger.
Can you create JIRA for including it in the response of GET and instance generation? I agree this is needed but it is a different JIRA and it is better to not mix things

[2022-01-17 20:01] StephenOTT commented on #1887
Created https://issues.redhat.com/browse/KOGITO-6569 for business key in responses

[2022-01-17 20:14] StephenOTT opened #1889 "Docs: None Start Event: Document that a process can only have 1 blank/none start event"
### Description

If you add two start events you get an error: "A process cannot have more than one start node!"

Happy to add to the docs, but cannot find the ref page for https://docs.kogito.kie.org/latest/html_single/#ref-bpmn-start-events_kogito-developing-process-services.

How do you find the associated page of the docs against the docs repo?

### Implementation ideas

_No response_

[2022-01-17 20:16] StephenOTT commented on #1873
created: https://issues.redhat.com/browse/KOGITO-6570 as this is a very annoying bug to deal with given that hot reload is supposed to work.

[2022-01-17 20:51] StephenOTT opened #1890 "/nodes management endpoint should provide node configurations"
### Description

consider:

<img width="1521" alt="image" src="https://user-images.githubusercontent.com/1994838/149835217-67f2e8bf-d40e-4de3-bfb5-fea6c9c28ef7.png">

from the process-usertask-quarkus example project.

One of the most common requests for introspection of BPMN is to get XYZ configuration properties for all values in a BPMN.  supporting this further enhances the ability of the SVG a

[2022-01-17 20:52] StephenOTT commented on #1890
Could then do stuff like: https://github.com/StephenOTT/Cammand#bpmn-data-overlays

[2022-01-17 21:05] StephenOTT opened #1891 "Conditional Logic on configuration fields?"
### Description

Working in the modeler, is there fields that Kogito process will support for expression based configuration?

Such as a Task Name being generated at runtime, priority values, actors, groups, subjects, etc.  Are there fields that support expressions such as `${...}` `#{...}` etc?

If no, what is the pattern for handling runtime based configurations?  Gateway logic uses embedded/cop

[2022-01-17 22:35] StephenOTT opened #1892 "Default generated endpoints places variables into the root object: should variables be nested into a property?"
### Description

When you start a instance, you are submitted variables.  But when you GET an instance you are receiving process instance ~metadata and process variables (or task/local variables).

The variables are mixed into the name level as the metadata.  Should this data be moved into a nested property?  such as "variables", or "data" (data because that is the name used internally).

I sugges

[2022-01-17 22:53] StephenOTT opened #1893 "Codegen Message Start Event: Incorrect endpoint generation: endpoint is requiring instance id"
### Describe the bug

Docs on Message Start Event: https://docs.jboss.org/kogito/release/latest/html_single/#ref-bpmn-start-events_kogito-developing-process-services

Consider a process such as:

<img width="1403" alt="image" src="https://user-images.githubusercontent.com/1994838/149844899-bc67912c-7c45-483d-84fa-1d3270b4fb32.png">

This configuration is generating endpoints with:
<img width="1630

[2022-01-17 22:58] StephenOTT commented on #1893
This code also makes me ~worry about performance on large number of instances?  What is there were 500,000 active instances of a specific process definition.  Are all of these instances loaded into memory for something like signal?  The underlying `process.instances()....` code seems to query everything from a concurrentMap

[2022-01-18 01:55] cristianonicolai commented on #1873
@StephenOTT thanks for reporting. This seems to be fixed on version 1.16 which is about to be released. Thanks

[2022-01-18 01:57] StephenOTT commented on #1873
Thanks! Looking forward to it!

[2022-01-18 09:40] crionuke opened #1894 "Adding kogito-addons-quarkus-persistence-infinispan lead to cannot instantiate the type JsonNode exception"
### Describe the bug

Hi, there.
Try Kogito. But adding kogito-addons-quarkus-persistence-infinispan dependency to persist lead to next error:

[code]

What is wrong? Thanks a lot for any help.

Full content of my pom.xml based on file from code.quarkus.io:
[code]

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -

[2022-01-18 10:59] cristianonicolai commented on #1894
@crionuke could you share a small project including assets, I cant seem to be able to reproduce the issue. Are you using dmn, serverless worflow or process?

[2022-01-18 12:33] #1889 closed

[2022-01-18 13:20] ricardozanini commented on #1886
Hi @StephenOTT! This is reasonable, opened https://issues.redhat.com/browse/KOGITO-6573 to track it.

[2022-01-18 13:20] #1886 closed

[2022-01-18 14:07] StephenOTT opened #1896 "Support Actors for Process Starters"
### Description

Continuation of https://github.com/kiegroup/kogito-apps/issues/1200

The ProcessResourceGenerator.java supports the securityRoles.  Would you accept a PR for adding Actor support so Process Start security mirrors that of User Task security?

### Implementation ideas

The ProcessResourceGenerator and related locations that implement the securityRoles check will have a few lines add

[2022-01-18 14:09] cristianonicolai commented on #1890
@StephenOTT let me just recap to make sure I got the idea right, so what you're suggesting is to extend the /nodes endpoint to include more information from the BPMN model. More specifically attributes from nodes like description, priority, possibly metadata and more so it would allow introspecting the model externally without actually getting to parse the BPMN model. Does that sounds about right?

[2022-01-18 14:11] StephenOTT opened #1897 "Provide configuration option to add App description and details into the OpenAPI spec so it shows in the swagger UI"
### Description

<img width="1557" alt="image" src="https://user-images.githubusercontent.com/1994838/149953012-4167bf33-a898-4179-ae1e-f4761eea7642.png">

vs

<img width="1598" alt="image" src="https://user-images.githubusercontent.com/1994838/149953056-7be3217b-15f7-45e9-9992-9fee813fce01.png">

The swagger UI is often used in orgs as the first level of testing and quick use of a API.  ability t

[2022-01-18 14:13] StephenOTT commented on #1890
Yes.  Given that it seems pretty much everything is pushed into the "metadata" object? (with maybe some exceptions?), I would like to see "everything" added into this.  If its a BPMN config/attribute/detail, etc that gets loaded into the app, then it should be in the /node endpoint.

[2022-01-18 14:15] StephenOTT commented on #1890
Simple common Example:

People want to generate process documentation: where they generate a PDF will all Nodes, their ID, titles, main configs, and the documentation field so they can have a audit trail / doc of what the BPMN does (from business perspective) and docs the setup at the time.

Imagine auditors come in later on and ask "how does this workflow work?" and they are not technical.  They

[2022-01-18 14:23] cristianonicolai commented on #1872
@StephenOTT at this stage versioning is still limited, we've got a few items in our backlog like this one https://issues.redhat.com/browse/KOGITO-6517 to start enhancing this story. In that context, the primary use case that we would like to target is that each process version would have its own deployment and so inflight processes would remain running in the service version that it started. For n

[2022-01-18 14:23] #1872 closed

[2022-01-18 14:34] #1890 closed

[2022-01-18 14:46] StephenOTT commented on #1872
great.
This is a very interesting conversation because there is so much pro / con:

1. There is value to have 1 app per version but they share a index
2. Having multiple versions of BPMN in a single app, leads to having deployment Apis, which leads to weird migration scenarios: where you have to migrate from v1 to v2, rather than being able to make live change.
3. Could the index service GraphQL j

[2022-01-18 14:59] cristianonicolai commented on #1872
@StephenOTT regarding point 3, the Data Index is also a sort of Gateway API in that sense, it could act as a routing layer to redirect a mutation to start a new instance to the newest version of the process. That also means that the Data Index would keep track of the available deployments. And as for data, that's already done by Data Index, it collects data from multiple runtimes, different proces

[2022-01-18 15:01] StephenOTT commented on #1896
@cristianonicolai  yes roles in practice are the best practice and SHOULD be used over usernames.  In real world thought, there are many times where you need to code in usernames for dev, quick fixes, "just get it done", etc use cases.  Same concepts to why UTs have Who the task is claimed to, the candidate Actors and candidate groups rather than just groups.

If we are going to create groups as t

[2022-01-18 15:08] StephenOTT commented on #1872
I have dealt with this A LOT in the camunda bpm space, and versioning becomes this mess for organizational deployments: where you have multiple versions being deployed, and dealing with migrations, etc.

1. One must be able to update the current version without having to change the version ID (from the index perspective its the same version) - this would also lead to things like: should you hash t

[2022-01-18 15:10] ricardozanini commented on #1897
Created https://issues.redhat.com/browse/KOGITO-6577 to track it. Also relates with #1886

[2022-01-18 15:10] #1897 closed

[2022-01-18 15:10] cristianonicolai commented on #1896
@StephenOTT yep, I totally get that. The point is that I think there are specific libs/frameworks that can help that better than us creating something. Of course, we can create dev specific helpers, if that is somehow too much work, but see this file-based properties from Quarkus as an example: https://quarkus.io/guides/security-properties that can be easily enabled for dev, as long as we rely on

[2022-01-18 15:12] StephenOTT commented on #1896
@cristianonicolai can the sec properties be used in **parallel** with ODIC/openid auth?

[2022-01-18 15:27] StephenOTT commented on #1896
But profiles would mean different ENVs.  In my scenario it is all the same ENV configurations: Process Starters that are coded to specific usernames would be at a dev level, but also at a production level.

If only roles are being used, are you planning to modify how user tasks function and only support "groups" / roles?

[2022-01-18 17:54] StephenOTT opened #1899 "Job Service: Async Task Execution, Time Execution, and handling of Job Failures"
### Description

Trying to understand the Kogito concept for Job Service compared against other services like Camunda BPM, and how Async Task Execution, Timers, and just general job handling / retries, errors, etc are handled:

1. My understanding is that the Job Service(JS) keeps a list of jobs that it triggers through REST: such as Executing a Timer at a specific time or async job.

2. the JS ke

[2022-01-18 17:56] fjtirado commented on #1899
@wmedvede @tiagodolphine @krisv Please take a look at this one.

[2022-01-18 18:32] StephenOTT commented on #1899
Added additional details above.

[2022-01-18 21:08] StephenOTT opened #1900 "Confusing use of Task Name: BPMN vs endpoints"
### Description

Consider the following config:

<img width="1394" alt="image" src="https://user-images.githubusercontent.com/1994838/150018673-ce4e9ec7-39d4-4c6c-a133-7324750e826e.png">

So the task name Must have no spaces.

If you arrive on this task the /tasks endpoint returns something like:

[code]

The confusion is the `name` property. The name prop showing the value in the "Task Name" prop

[2022-01-19 12:38] wmedvede commented on #1899
Hi @StephenOTT  I'll try to answer 1) and 2).

First, your assumptions regarding the Jobs Service are is right. Basically the Job Service is an independent service, and summarized in the Jobs Service we schedule a URL (that refers to the process node to trigger) that should be invoked given the scheduling parameters. So, when the programmed time is met, the Jobs Service will produce a REST call by

[2022-01-19 17:45] fjtirado commented on #1893
[Opened JIRA ](https://issues.redhat.com/browse/KOGITO-6588)

[2022-01-19 17:45] #1893 closed

[2022-01-19 17:45] wmedvede commented on #1899
1) In general the JS -> App REST invocation is performed by using ReactiveStreams + smallrye-mutiny-vertx-web-client, so I believe long ruining jobs shouldn't be an issue. Let's double check with @tiagodolphine

2) I'm not sure if we have right now a particular security setting for the communication JS -> App, maybe @tiagodolphine has more knowledge about this piece.
If we don't have, the path to

[2022-01-19 17:46] fjtirado commented on #1893
As per the performance concern, @StephenOTT, when persistence is active, process.instance() will be translated to a DB query (which I do not know if it worse or not, just kidding), so in real deployment scenario not all process instances will be in memory.

[2022-01-19 17:48] #1887 closed

[2022-01-19 17:57] fjtirado commented on #1900
The idea was that the "name" field in the task list returned by GET api can be used as path param for task endpoints as described here https://blog.kie.org/2021/05/kogito-user-tasks-process-api.html. Indeed, that name is unique and has nothing to be with the "name" property in the editor (which is just intended for visualization purposes)
When choosing the name of the field "Task Name" seemed redu

[2022-01-19 18:13] fjtirado commented on #1888
@evacchi It is currently working on a new API, there is a brilliant sequence of post, I'm linking the last one https://blog.kie.org/2021/12/the-road-towards-a-public-api-part-2.html
And now, your question,
Application (to be replaced by AppRoot, thats why I think you should go through Edoardo's work)  is the main entry point, from there you can navigate through processes. Processes are the referen

[2022-01-19 18:13] StephenOTT commented on #1900
well first it would see that "Task Name" in the modeler should be renamed to something like URI ID or equivalent.  But see https://github.com/kiegroup/kogito-tooling/issues/775 for further issues in this same space.

[2022-01-19 18:44] fjtirado commented on #1900
yes, I agree, that can be renames to "Task Id" and uniqueness enforced in the editor

[2022-01-19 19:02] fjtirado commented on #1900
Also, I have created JIRA for making the server fail if a process contains the same task name https://issues.redhat.com/browse/KOGITO-6592

[2022-01-19 19:02] #1900 closed

[2022-01-19 19:10] fjtirado commented on #1892
@cristianonicolai @evacchi @ricardozanini I agree with @StephenOTT rationale. Although currently we only have id as metadata, when we add business key, thing might start getting messy. I think wrapping model under a model field is a must.
I do not see as clear the need to wrap metadata under a different objet, because metadata fields the same one for all processes and there is not risk for name co

[2022-01-19 19:15] fjtirado commented on #1877
@hmanwani-rh I think this something we need to fix in the docs
@StephenOTT The main usage case for persistence, as you can guess, is for guys that want some form of primitive persistence and are not willing to install/use an external DB application.

[2022-01-19 19:19] StephenOTT commented on #1899
So we do not see that a Job failed 3 times and the date/time of **each** failure + plus the message or stacktrace for each failure?

--

Some to recap on 3.2 and 3.4: If the Job perm fails, it is removed from the JS, the Data index gets updated with the perm fail status for that historical job, BUT the app does not know it perm failed, the app just remains in a process error state?

[2022-01-19 19:19] fjtirado commented on #1891
short answer no. @elguardian what do you think, sohuld we add expression support for these fields?

[2022-01-19 19:22] StephenOTT commented on #1891
Expressions have their own set of issues.  it is very interesting to have the codegen abilities where you are injecting the java code.  It would be EXTRA interesting if down the line you could add Groovy or kotlin support so the scripts could be more concise.  It sort of feels like fields need a marker to say "use these java code snippet" to calculate the value

[2022-01-19 19:36] #1871 closed

[2022-01-19 19:39] StephenOTT commented on #1892
Anything that is a property name created by the modeler could cause collision. so should be isolated.

[2022-01-19 19:41] fjtirado commented on #1876
Basically we are delegating on the locking capabilities of the underlying DB.
This lack of details allows every persistence addon to adopt the most suitable strategy for locking (using optimistic if the generic  property is there)
@hmanwani-rh Please coordinate with @tiagodolphine to update this section properly

[2022-01-19 19:44] StephenOTT commented on #1876
great.  I guess each persistence add-on should have a section explaining their strategy to locking?

[2022-01-19 20:56] StephenOTT opened #1904 "Understanding CodeGen generated classes against BPMN Model - Node Numbers vs TaskName value"
### Description

Consider the following:

<img width="1432" alt="image" src="https://user-images.githubusercontent.com/1994838/150212028-5c34d1c0-662f-4b55-9beb-802b17de210f.png">

<img width="914" alt="image" src="https://user-images.githubusercontent.com/1994838/150212096-b83465cf-54cd-49b2-bfe3-5c7f85693fbd.png">

<img width="880" alt="image" src="https://user-images.githubusercontent.com/19948

[2022-01-19 21:01] StephenOTT opened #1905 "Doc missing for `kcontext` variable exposed in script tasks."
### Description

Codegen generates code such as:

Script Task:
[code]

for a docs do not detail what is `kcontext` and how it can be used.

### Implementation ideas

_No response_

[2022-01-19 21:24] StephenOTT opened #1906 "Quarkus Kogito Processes Deps clarity"
### Description

The examples bring in the full kogito main dep.

But there is also: `kogito-quarkus-processes`.

Should process apps be able to be built using:

[code]

or must

    <dependency>
      <groupId>org.kie.kogito</groupId>
      <artifactId>kogito-quarkus</artifactId>
    </dependency>

be used?

If your kogito-quarkus always required, is there simplified deps planned so you are not b

[2022-01-19 21:45] StephenOTT opened #1907 "Message Events causes startup failure with ProcessParsingValidationException"
### Describe the bug

Consider process:

<img width="1431" alt="image" src="https://user-images.githubusercontent.com/1994838/150218437-4b6c73f9-a62d-43f2-80db-e26cf23afde4.png">

deps:

[code]

The events dep is not included.

generated xml:

[code]

a Message start event  generates the error:

` - Could not find message _Q7m2MFufEDqWk8eNDaFjCw`

### Expected behavior

I would expect the deployme

[2022-01-19 21:55] StephenOTT commented on #1893
Some further comments that I have added into the JIRA ticket:

Some further thoughts on this:

Experimenting with a Message and Signals with the Codegen, some thoughts on the semantics of the design:

When a Signal or Message is detected in an App's BPMNs:

Should there be generic Message and Signal endpoints generated which allow a Message/Signal Name param (+var inputs).  This would allow easy s

[2022-01-19 22:16] StephenOTT opened #1908 "User Task Endpoint CodeGen: Claim, Unclaim, Assign, Delegate, etc?"
### Description

Docs reference ability to claim and other typical user task actions in BPM

typical:

1. Claim Task (the current user can claim the task / make themselves the Assignee)
2. Unclaim Task (The current user who is assigned to the task can unclaim themselves from the task)
3. Assign Task (userA assigning a task to userB, ex Manager assigns task to userA, or to assign to no one/remove a

[2022-01-19 22:20] StephenOTT opened #1909 "User Tasks and "Draft submissions""
### Description

Is there any concepts or plans for User Task draft submissions?  Where a user can Save As Draft their data submission.  When a user loads the task later it would load that saved draft of data.

This could be something as simple as a processKey/instanceId/taskName/instanceId/draft
which would allow data draft submission against the schema / same setup as the submission object.

Tha

[2022-01-20 02:36] cristianonicolai commented on #1888
@hmanwani-rh we should track this to be incorporated in the Kogito docs, do you mind creating a JIRA please.

[2022-01-20 04:15] cristianonicolai commented on #1892
the main idea behind keeping it at root level is that we avoid having Kogito specific structure in the response, we want to focus on the domain and so making it extremely easy to be consumed/integrated elsewhere. In saying that I agree that at some point things can get messy. Maybe we could have strategies to deal with it so people can decide how to best approach this based on their use case. For

[2022-01-20 05:36] hmanwani-rh commented on #1888
@cristianonicolai I've created https://issues.redhat.com/browse/BXMSDOC-8371 to address these changes in Kogito docs.

[2022-01-20 05:51] crionuke commented on #1894
Changing version from 1.15.0.Final to 1.16.0.Final for kogito-quarkus-bom solved this problem

[2022-01-20 05:51] hmanwani-rh commented on #1877
@fjtirado @StephenOTT Thanks for letting me know.
I've created https://issues.redhat.com/browse/BXMSDOC-8372 to improve the persistence content in Kogito docs.

[2022-01-20 06:16] cristianonicolai commented on #1894
@crionuke great to hear, we did some improvements in that are for 1.16. Lets us know if there is any other issue.

[2022-01-20 06:16] #1894 closed

[2022-01-20 09:42] fjtirado commented on #1904
Yes, once the task name is unique, the node number is not longed needed

[2022-01-20 09:42] #1904 closed

[2022-01-20 09:49] fjtirado commented on #1908
Plese take a look to this post https://blog.kie.org/2021/05/kogito-user-tasks-process-api.html. All the operations you are describing should be implemented as lifecycle phases

[2022-01-20 09:49] #1908 closed

[2022-01-20 09:51] fjtirado commented on #1907
I think we need a reproducer. A link to a github repo for the example you are using that cause the failure

[2022-01-20 09:55] fjtirado commented on #1909
No, we do not have such concept, but why not to use the existing /{id}/{taskName/taskId}/{taskInstanceId} PUT API to change the data without changing task phase (the POST call) to emulate that. Basically saving as draft is to change the task model without changing the current phase. That can be done with the mentioned PUT api.

[2022-01-20 10:08] fjtirado commented on #1906
Lets explain the dependecies (I will skip test scope ones) used
You allway need to include ```
 <dependency>
      <groupId>org.kie.kogito</groupId>
      <artifactId>kogito-quarkus</artifactId>
    </dependency>
[code]
<dependency>
      <groupId>org.kie.kogito</groupId>
      <artifactId>kogito-quarkus-processes</artifactId>
    </dependency>
[code]
 <dependency>
      <groupId>io.quarkus</group

[2022-01-20 12:30] StephenOTT commented on #1892
Having the "data" in the body makes it easy for consumption.  Getting into headers starts to create complexity for regular business data consumption.
What about an optional data wrapper that could be set in config?

@ChristianLowe if you do not have a model/data wrapper, how do you intend to deal with property name collision?  Imagine you decided in v1.20 to start returning a `status` property, `d

[2022-01-20 12:36] StephenOTT opened #1912 "codeGen for java gateway logic is generating java variable code for every variable regardless of use"
### Describe the bug

When codegen generates a gateway logic for java code, it is creating code like this:

[code]

This does not appear correct / excessive code gen.  Imagine if you have 100 variables.  Every gateway would generate 100 lines of variables?

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `v

[2022-01-20 12:46] fjtirado commented on #1912
Yes, this unneded variables generation might be skipped (since this data is already in memory, it does not have performance impact though)
Created JIRA https://issues.redhat.com/browse/KOGITO-6560

[2022-01-20 12:46] #1912 closed

[2022-01-20 12:46] StephenOTT commented on #1907
[inter-event.bpmn.txt](https://github.com/kiegroup/kogito-runtimes/files/7905217/inter-event.bpmn.txt)

Created with vs-code kogito tools extension

[2022-01-20 12:51] StephenOTT commented on #1907
Error:

[code]

[2022-01-20 13:04] StephenOTT commented on #1908
for ref: https://docs.jboss.org/kogito/release/latest/html_single/#con-task-lifecycle_kogito-developing-process-services

[2022-01-20 13:09] hmanwani-rh commented on #1876
@fjtirado @StephenOTT Thanks for letting me know. I have created https://issues.redhat.com/browse/BXMSDOC-8375 to address this issue in Kogito docs.

[2022-01-20 13:13] StephenOTT commented on #1876
@hmanwani-rh this issue comes up very often when you get into clustered setups and you have multiple instances of the same application load balanced and multiple people are trying to update the same variables from different nodes in the cluster + the Job Service triggering the execution of work.

[2022-01-20 13:18] hmanwani-rh commented on #1876
@StephenOTT Noted, we'll take care of this issue instance in docs.
thanks

[2022-01-20 13:45] #1876 closed

[2022-01-20 20:30] ricardozanini commented on #1892
I think it's doable to have this feature configurable. This way, the consumer will understand the caveats and implications to their architecture. By default, we can add this information to the headers as we do for CloudEvents and OpenAPI client calls.

[2022-01-20 20:41] StephenOTT opened #1915 "Catch Events: Configuration, Handling, and intercepting"
### Description

as we understand it, BPMN Events: Messages and Signals are Caught and Thrown.  Sending Messages is the equivalent of making a HTTP request: internal code is messaging something and the BPMN Throw Event is just that mechanism.

Catch Events though seem to have some varying mechanics and are unclear on the expected used and configuration options:

1. There is the Events addon https:

[2022-01-20 20:58] StephenOTT commented on #1915
further details added

[2022-01-20 21:20] StephenOTT commented on #1915
Consider the as a sample of common event patterns

<img width="1638" alt="image" src="https://user-images.githubusercontent.com/1994838/150423893-f8e3d42a-56b1-4305-90ef-b4b69d685cf8.png">

[2022-01-21 07:16] crionuke opened #1918 "Works in quarkus:dev but could not find data type com.fasterxml.jackson.databind.JsonNode when using native"
### Describe the bug

Hi, again! Try using latest release of kogito with quarkus native mode.
Made simple project with this SW - https://github.com/kiegroup/kogito-examples/blob/a8e312fe083c1ff48513f4e37d853d2975251b68/serverless-workflow-greeting-quarkus/src/main/resources/yamlgreet.sw.yml.
And its works perfect via quarkus:dev, but after native compilation i got next error

[code]

So, I have tw

[2022-01-21 08:23] sutaakar commented on #1918
@crionuke It is a known issue, reported as [KOGITO-6561](https://issues.redhat.com/browse/KOGITO-6561)
Right now it is fixed on main branch and should be backported to the next Kogito release (1.16) - https://github.com/kiegroup/kogito-runtimes/pull/1913

[2022-01-21 10:37] crionuke commented on #1918
@sutaakar thank a lot for information, but you mean 1.17 as 1.16 already released?

[2022-01-21 10:55] sutaakar commented on #1918
It depends if there will be a patch released for 1.16, otherwise it will be fixed in 1.17.

[2022-01-21 11:14] fjtirado commented on #1915
As we discuss in another forum, I think that the filtering of an event (security based or by any other criteria) should not be performed as part of a listener of a catch event, but before invoking the catch event node.
That kind of filtering should be performed by a custom [EventConsumer](https://github.com/kiegroup/kogito-runtimes/blob/main/api/kogito-services/src/main/java/org/kie/kogito/service

[2022-01-21 11:14] fjtirado commented on #1915
@elguardian FYI

[2022-01-21 11:16] #1906 closed

[2022-01-21 11:16] #1888 closed

[2022-01-21 11:21] fjtirado commented on #1892
In my opinion, If we want to keep model data at root level, then we need to move the not model info under a different object. I propose to call that field "_meta" to make name colision really unlikely.
This idea is taken from HATEOAS impl named [HAL](https://en.wikipedia.org/wiki/Hypertext_Application_Language), which use _links for additional info.

[2022-01-21 12:40] StephenOTT commented on #1915
@fjtirado in practice the use of the listener is/would become a VERY popular place to inject logic for a process instance.  The listener provides all of the typical movement you want to add customizations and provides ~easy access to everything.  It is also very similar designs as other BPM engines.  If the processEventListener is essentially a Non-blocking, non-throwing, non-process side effect g

[2022-01-21 13:20] StephenOTT commented on #1873
@cristianonicolai yes this appears to be fixed in 1.16.  Thanks

[2022-01-21 13:20] #1873 closed

[2022-01-21 14:07] #1877 closed

[2022-01-21 14:30] #1918 closed

[2022-01-21 15:33] StephenOTT opened #1921 "Unclear if/how implementation/usage of: Ad Hoc, Skippable, Ad Hoc Autostart, Ad Hoc Sub process"
### Description

The docs outline multiple references to the usage of

1. Ad Hoc,
2. Skippable,
3. Ad Hoc Autostart,
4. Ad Hoc Sub Processes

but details about implementation and actual API usage is missing.  For example, when applying skippable (or unchecking skippable) on a User Task, has what effect and how does a user interact with this aspect?  Same types of questions for the others.

Thanks!

[2022-01-21 15:34] StephenOTT opened #1922 "Kubernetes Discovery add-on but no official docs: Is this a prototype or will be ~supported?"
### Description

https://github.com/kiegroup/kogito-runtimes/tree/main/addons/common/kubernetes

### Implementation ideas

_No response_

[2022-01-21 15:38] ricardozanini commented on #1922
Hi! It's somewhat a prototype, you can see it in action here: https://github.com/kiegroup/kogito-examples/tree/main/kogito-quarkus-examples/onboarding-example

You have to [manually implement the WorkItemHandler](https://github.com/kiegroup/kogito-examples/blob/main/kogito-quarkus-examples/onboarding-example/onboarding-quarkus/src/main/java/org/kie/kogito/examples/BaseWorkItemHandlerConfig.java#L3

[2022-01-21 15:38] elguardian commented on #1915
Hi @StephenOTT

catch events filtering by payload is written down in the bpmn2 spec as collaborations/correlation keys mechanism. In the case of kogito/jbpm we have that already in there and that is a built in within the engine so the sort of filtering regarding this is already supported by the engine. (editor yet does not support this construct AFAIK but it will be done soon. You can create any f

[2022-01-21 15:40] #1922 closed

[2022-01-21 15:43] StephenOTT commented on #1922
@ricardozanini is this https://github.com/kiegroup/kogito-examples/blob/main/kogito-quarkus-examples/onboarding-example/onboarding-quarkus/src/main/java/org/kie/kogito/examples/BaseWorkItemHandlerConfig.java#L72 the ~recommended way to create engine discoverability and other startup logic?  Is there a planned App/Engine Startup listener?

[2022-01-21 15:46] danielezonca commented on #1848
@yesamer
Can you please have a look?

@tarilabs
FYI

[2022-01-21 15:54] StephenOTT commented on #1915
@elguardian thanks for the details.

In real world usage of a BPMN, the BPMN definitely implements the concepts of security: Who is allowed to Start an instance of this process definition.  If it is not implemented at the BPMN config, it gets implemented at the app level and is just becomes boiler plate code.  A Message as i mentioned could be interrupted in an administrative way (as you suggest:

[2022-01-21 15:59] StephenOTT commented on #1921
For 1,3,4 yes that doc exists but it misses the implementation part:

@fjtirado Skip is a phase as described here: https://docs.jboss.org/kogito/release/latest/html_single/#con-task-lifecycle_kogito-developing-process-services so initial interpretation of the modeler UI would suggest that if I disable/uncheck "Skippable" it would prevent the Skip Phase from being activated/used.  But your explanat

[2022-01-21 16:11] fjtirado commented on #1921
@StephenOTT , the problem is the possible semantic interpretation of skipable flag. If we modify provided skip life cycle phase implementation to thow exception if skipable is equal to false, then  we will limit user margin of manoeuvre.
Imagine an user want to use skipable to flag those task which can be automatically closed after a certain time by a custom bot, but do not want prevent to explici

[2022-01-21 16:13] StephenOTT commented on #1921
@fjtirado 100% agree... The skippable is a great concept.  But unless you want to implement it, it is just confusing and creates mental connections that don't correlate with actual implementation.

[2022-01-21 16:15] fjtirado commented on #1921
@Kris wdyt? Should we remove Skipable? Provide a Skip implementation that uses it? Leave things as they are and documment the current approach?

[2022-01-21 18:21] wmedvede commented on #1899
No, right now in the data index we can only see that the job is in ERROR status, and the total number of retries that it did before going into he ERROR status. But we can't any stacktrace, we are not storing it.

And regarding:
"Some to recap on 3.2 and 3.4: If the Job perm fails, it is removed from the JS, the Data index gets updated with the perm fail status for that historical job, BUT the app

[2022-01-22 16:54] StephenOTT commented on #1909
@fjtirado I see that as a destructive change, where a draft should be viewed as a non-destructive change: something that can be undone, abandoned, and not necessarily destroying the original state for other users (users who did not create the draft).  If we make a PUT on the UT, it would change the underlying data in the model (whether it be local or process level data).

[2022-01-22 17:11] StephenOTT commented on #1915
Some updates on this based on further discussion with @fjtirado:

1. There appears to be some confusion between the perceived layer in Kogito where the code would actually execute:  When i write "evaluate some logic at the BPMN Activity/Node instance level"; my interpretation of this means to be able to handle logic that is configured at the Activity definition level and in the context of the acti

[2022-01-23 21:50] StephenOTT opened #1924 "Typed Java Client for interacting with Index Service"
### Description

Looking into whether a typed java client with be provided for interacting with the Index Service.  A common use case for a workflow is to gather a query against existing or previous data.  Having a typed client would make it easy for modellers to query the index service without worrying about security, HTTP/Graphql and the various nuances associated with custom clients per workflo

[2022-01-23 22:00] StephenOTT opened #1925 "Provide ability to map a Script Task to a java class/operation in the same way a Service Task is used."
### Description

The BPMN is a visual semantic with varying abilities as part of its implementation.  The Service task have the ability to call a interface/operation which provides nice re-use ability.  But the script task is missing this.
From a visual semantics, a Service Task is often used to represent some sort of system interaction (such as calling an API) or performing some sort of library c

[2022-01-23 22:06] StephenOTT opened #1926 "Provide a named listener annotation for Message Throws"
### Description

Very often a message is thrown but there is a associated implementation java class being called.  We should not assume that the use of Message Throws are going to be associated with the Events add on.  A message throw could be "send an email".

It looks like we ~could use a ProcessEventListener, but it would be a little more "clean" if we could do something like

(not suggesting t

[2022-01-23 22:12] StephenOTT opened #1927 "Lack of support for Activity/Node Enter/Exit listeners on all Activities/Node types"
### Description

As per the docs, the OnEntry and OnExit action/listeners are not supported in Kogito. Is there some background on this?  Side-effect actions are very common in making a BPMN appear ~reasonably clean for the reader, and using the listeners as a way to hide minor implementation details.

Example: On an end event, a listener can often be applied to do some final data changes/evals.

[2022-01-24 11:27] fjtirado commented on #1925
This ability is provided by Kogito out of the box.
See https://github.com/kiegroup/kogito-examples/tree/stable/kogito-quarkus-examples/process-service-calls-quarkus

[2022-01-24 11:48] fjtirado commented on #1926
An for that, you should provide an email addon ;)
Thats the idea of Kogito, for any event publishing functionality, you should provide and addon that implements EventPublisher interface.
And addon is just an additional maven depedency you include in your pom.xml that can be as simple as an implementation of EventPublisher that prints the event to the console
Thats the way Kogito is intender to be

[2022-01-24 11:51] fjtirado commented on #1927
I think that although not documented, they are implemented.
@hmanwani-rh lets open a JIRA to document them

[2022-01-24 12:08] StephenOTT commented on #1927
The docs say on each of the field descriptions in the field props that "kogito does not support this"

[2022-01-24 12:17] hmanwani-rh commented on #1927
@fjtirado Entry and Exit action is already documented in our docs. Just need to ensure, if is it supported or not as @StephenOTT mentioned.

[2022-01-24 12:25] fjtirado commented on #1927
Ok, I should have checked the document first, sorry for the confussion, they are not supported yet.
@StephenOTT  You can still use onBefore and ofAfter ProcessEventListener method https://github.com/kiegroup/droolsjbpm-knowledge/blob/7.x/kie-api/src/main/java/org/kie/api/event/process/ProcessEventListener.java#L57 and https://github.com/kiegroup/droolsjbpm-knowledge/blob/7.x/kie-api/src/main/java/

[2022-01-24 12:28] StephenOTT commented on #1927
Okay. Is the goal to support them?  Or is it not in the design arch of kogito?

[2022-01-24 12:47] StephenOTT commented on #1915
Issue for supporting messaging a set of process instances: https://issues.redhat.com/browse/KOGITO-6468

[2022-01-24 12:50] StephenOTT commented on #1926
@fjtirado does Kogito support multiple event publishers in parallel?

[2022-01-24 12:59] StephenOTT commented on #1925
@fjtirado What you are describing is the service task's and script tasks chosen implementation. I am describing the BPMN business semantic and visual usage for describing a process/workflow.  In other BPM engines a script task is often literal "script" like javascript, etc.  But with codegen, the default is to embed the java in the same way a gateway logic is written.  But just as with gateway log

[2022-01-24 13:06] StephenOTT commented on #1899
@wmedvede thank you for the details.  So what is the protocol for resolving these dead jobs / frozen process instances / activities?  If the job is set to fail in the JS, and the app is unaware of this (as you mentioned above), the application would not have any knowledge of "hey the job failed maybe i should do something...". It feels like from the description, that the JS can trigger work, but h

[2022-01-24 13:15] StephenOTT commented on #1907
@fjtirado were you able to re-create or do you want a proj?  This was in 1.15.  I will also re-test on 1.16.

[2022-01-24 13:22] tiagodolphine commented on #1899
the job execution is async App -> JS -> App, so job service just sends a request to signal the process instance to execute the timer node asynchronously, the last part of the communication, the execution is sync (as the engine execution behaves like this). And right JS relies on non-blocking reactive APIs, no threads are blocked during IO.

yeah, we don't have right now the security config to call

[2022-01-24 13:29] tiagodolphine commented on #1899
In general, the app doesn't know about the error in the job, because for some reason the job execution was not possible to be executed, so probably due to a communication issue. Some manual intervention could be made using the management console, that communicates with the data-index to check the Failed jobs and can retrigger the Job by sending a request to the JS https://docs.jboss.org/kogito/rel

[2022-01-24 14:36] StephenOTT commented on #1899
@tiagodolphine the App **would** know about the error, as the error is occurring within the App's execution.  But the App is unable to associate the error with the JS attempted triggering of the execution.

It is great to have the re-scheduled feature, assuming it can be used on perm failed jobs.

It would be REALLY great if there was storage of these errors so the management console could underst

[2022-01-24 14:54] tiagodolphine commented on #1899
If the App receives the request to trigger the timer node, it is handled by the engine in the App, so if any error after the trigger happens, the process instance follows what is defined to handle errors in the process or keep the process instance in an error state. What I said is in case of App is down or not reachable by JS (network issues or whatever) the Job in the JS will be transitioned to E

[2022-01-24 18:45] StephenOTT commented on #1899
I think what we are getting refinement/clarity on is the Kogito JS and general async job execution is designed/predicated on using BPMN error events?  such as described in the blog: https://blog.kie.org/2021/07/error-handling-in-kogito.html

If yes, This opens a design question: how can one reasonably expect to model retry logic for every async point that one would expect retries on?

Consider the

[2022-01-24 18:48] StephenOTT opened #1931 "Process Instance Locking for Process Variables and other changes?"
### Description

The docs refer to locking being at the persistence level.  is the design to bubble these persistence locks to the process instance level?

Example: Can two executions for the same Process Instance perform work in parallel?  If yes, how is this handled for parallel GET and UPDATE requests such as execution one is updating process variables, but execution two is doing a GET on the p

[2022-01-24 19:21] ricardozanini commented on #1922
HI, @StephenOTT. This is the "recommended" approach given a "tech trial" for now. No, there's no planning to add it to the startup listener for now. However, please reach out to me if you want to try it. I can figure out the best approach to move forward with this feature.

[2022-01-25 10:47] fjtirado commented on #1931
Beyond persistence, the concept of process instance lock does not exist.
Therefore, if persistence is disable (which only make sense for a single node instalaltion of kogito), when you perform a get you obtain a copy of the data of the active process instance, and when you perform a PUT, the data of that process instance in memory is updated (that is a concurrent hash map, so it wont fail if there

[2022-01-25 19:16] StephenOTT commented on #1931
Thanks @fjtirado this is a common issue/design consideration in other BPM engines: given this i would ask that deep level of design considerations be documented for the provided persistence add ons as well as what should be considered for new persistence engines.  The lifecycle of when data is pulled from and pushed to persistence and considerations for parallel activity are going to topics people

[2022-01-25 19:29] StephenOTT commented on #1907
Project files for a failing startup: https://github.com/StephenOTT/broken-message-kogito-example

[2022-01-25 19:30] StephenOTT commented on #1907
Jira ticket created: https://issues.redhat.com/browse/KOGITO-6638

[2022-01-27 14:37] wmedvede commented on #1825
This issue was fixed as part of https://issues.redhat.com/browse/KOGITO-6522, the SW example should now work fine in windows too.

[2022-01-27 14:37] #1825 closed

[2022-01-27 19:03] StephenOTT commented on #1899
related issue: https://issues.redhat.com/projects/KOGITO/issues/KOGITO-5863?filter=doneissues

[2022-01-28 13:43] jgrabowski commented on #1927
I'm totally with @StephenOTT. I've already done some real-life project on Kogito and lack of support for onEntry and onExit actions resulted in large number of Script Task activities. They're purely "tech driven" and not "business driven" and sometimes it makes the model too complicated to present to business people.

[2022-02-07 18:03] debu999 opened #1985 "ZonedDateTime in pojo used in kogito process error in creating proto files"
### Describe the bug

Hi team,
We are using kogito for a while now and are not able to use LocalDateTime, LocalDate, ZonedDateTime as default data types in classes used in bpmn2 version. Getting error like jandex cant find short . We use mongo db persistence.
What data types are supported for proto file generation in the platform. Please advise.

### Expected behavior

We should have no errors for

[2022-02-08 11:19] cristianonicolai commented on #1985
@debu999 You can see the list of supported types based on the marshallers available here: https://github.com/kiegroup/kogito-runtimes/tree/main/jbpm/process-serialization-protobuf/src/main/java/org/kie/kogito/serialization/process/impl/marshallers
As for temporal ones, only Date is supported, but I created the following JIRA to track this request: https://issues.redhat.com/browse/KOGITO-6756

[2022-02-10 13:24] a-roberts opened #1995 "Unable to build kogito-runtimes since, at least, the 7th of Feb's commit - can't find LogEvent"
### Describe the bug

Hi there, first of all - a big thanks to everyone working on Kogito! I'm someone that's interested in building serverless workflows and this is awesome.

Onto the issue at hand, what I'd like to do is the build the latest version of kogito-runtimes, using a JDK 11.

What I see is

[code]

when I follow what's in the contributing guidelines.

So, clone what's in main and do

[

[2022-02-10 13:41] radtriste commented on #1995
Hi @a-roberts
The `kogito-runtimes` codebase is dependent on the [drools](https://github.com/kiegroup/drools) codebase.
Usually, there is build problem as we deploy snapshots every night. But since recently our Nexus instance is having some problems and it may be that it does not have the latest snapshot version available ...

A workaround is to clone https://github.com/kiegroup/drools and run `mv

[2022-02-11 03:35] #1995 closed

[2022-02-12 14:49] StephenOTT opened #2000 "/[processname]/schema endpoint purpose when no blank start event?"
Consider the following process:

<img width="1614" alt="image" src="https://user-images.githubusercontent.com/1994838/153715849-26869b3c-9039-4e77-9423-58db202e7207.png">

This generates a openAPi spec of:

<img width="1514" alt="image" src="https://user-images.githubusercontent.com/1994838/153715860-e14c090a-ed8c-45a2-8de3-05078b829f32.png">

What is the purpose of the schema endpoint at the proc

[2022-02-12 14:50] StephenOTT commented on #2000
For example a Message Start Event has Data Assignments for I/O but what is the relationship with the process level variable assignments.

[2022-02-12 14:56] StephenOTT opened #2001 "Provide OpenAPI/Swagger option in production/packaged app"
### Description

From what i can tell from the docs, there is the swagger generation and openapi spec for dev mode in quarkus.

It would be great if we could make this a build config to include the openapi spec and optionally the swagger ui as part of the application package.

### Implementation ideas

_No response_

[2022-02-12 18:43] StephenOTT commented on #1907
same issue occurs with Message Start Events in 1.16.1

[2022-02-12 18:50] StephenOTT opened #2002 "Supported BPMN elements docs appears out of date / incorrect"
Signal End events are shown as not supported:

<img width="1176" alt="image" src="https://user-images.githubusercontent.com/1994838/153724213-8be24a0a-9e79-4a5d-907d-31b83e4e3934.png">

But signals are mentioned and shown in examples throughout the docs:

<img width="1162" alt="image" src="https://user-images.githubusercontent.com/1994838/153724236-32630a38-e697-4c21-b048-8d488c366dd0.png">

Could

[2022-02-12 18:59] StephenOTT opened #2003 "kogito-addons-quarkus-events-smallrye causes builder failure (1.16)"
### Describe the bug

including the dep:

[code]

causes a build failure:

[code]

using the default configs from the example: `process-usertasks-quarkus`

### Expected behavior

_No response_

### Actual behavior

_No response_

### How to Reproduce?

_No response_

### Output of `uname -a` or `ver`

_No response_

### Output of `java -version`

_No response_

### GraalVM version (if different fr

[2022-02-14 13:17] cristianonicolai commented on #1985
@debu999 the fix should land in version 1.18.0, feel free to reopen this if the problem persists.

[2022-02-14 13:17] #1985 closed

[2022-02-14 16:35] samding01 opened #2006 "CI: support S390x and ppc64le"
### Description

This is  an inquiry.
Does the  current CI support s390x/ppc64le platforms? I checked the CI files, did not find any content  related to platform configurations.
Thanks,

### Implementation ideas

_No response_

[2022-02-14 19:06] fjtirado commented on #1907
Catch Message without output asociation (and without an event adddon in the dependencies) are not going to be succesfully deployed in Kogito, but I used your JIRA to create a PR https://github.com/kiegroup/kogito-runtimes/pull/2009 to improve the error message you are getting.

[2022-02-15 14:52] ricardozanini commented on #2001
@StephenOTT as far as I know, the Swagger UI is only included in dev mode unless you explicitly specify it: https://quarkus.io/guides/openapi-swaggerui

You can fine-tune this configuration yourself, take a look at the guide, please.

[2022-03-02 21:24] sethhoward opened #2054 "Timer embedded in Multi Instance subprocess never finishes execution"
### Describe the bug

<img width="1231" alt="image" src="https://user-images.githubusercontent.com/911242/156449640-3e09c999-82ab-4e8e-8cbf-2669a8892522.png">

The above diagram creates multiple instance subprocesses with an embedded timer running at PT3S. The instances appear to run indefinitely and the entire process never finishes.

The Multi Instance is running `parallel`.

### Expected behavi

[2022-03-07 11:51] tiagodolphine commented on #2054
Tracking the issue on https://issues.redhat.com/browse/KOGITO-684

[2022-03-28 20:13] jdao-rh opened #2108 "s390x support documentation"
### Description

This is and archival documentation of the  work done so far or enabling kogito on s390x.
# Buling and running tests
Build is successful on a RHEL8 s390x machine
## Install Dependencies
1. ```sudo dnf in net-tools java-11-openjdk-devel.s390x```

2. install maven 3.8.4  from https://maven.apache.org/download.cgi

2. Install docker \
   rhel8 instructions https://docs.docker.com/engi

[2022-03-31 11:17] debu999 opened #2116 "Kogito SVG generation breaks with Quarkus 2.7.x - Breaks in windows"
While upgrading to Quarkus Kogito SVG generation do not work when using any quarkus version >= 2.7.0.Final
it works perfectly fine with any version less than that viz. Works with 2.6.3 just fine.
Need help tried with kogito version 1.19.0 as well not working with quarkus 2.7.x.
steps
Create a sample kogito app via code.quarkus.io.
update kogito to 1.19.0.Final
so you will have 2.7.5.Final Quarkus

[2022-03-31 11:18] debu999 commented on #2116
@evacchi Will there be anything to fix this. It seems to work with 2.6.3 but not with 2.7

[2022-03-31 15:39] nmirasch commented on #2116
Hello @debu999, I tried the SVG addon with 1.19.0.Final  Quarkus version 2.7.3.Final and it is working fine(i.e: https://github.com/kiegroup/kogito-examples/tree/stable/kogito-quarkus-examples/kogito-travel-agency/extended/travels) . Is there any log that can help to localize the reason why it's not working for you?

[2022-04-01 03:43] debu999 commented on #2116
@nmirasch It seems its not working in windows and works fine in mac. Can you please help test the same. I get error 404 not found. Any logger to update to confirm what might be wrong.
<img width="824" alt="Screenshot 2022-04-01 at 7 19 28 AM" src="https://user-images.githubusercontent.com/1910577/161190846-5f3d493e-d242-44b8-8b16-98b6d57dd7dc.png">
<img width="821" alt="Screenshot 2022-04-01 at 7

[2022-04-01 08:08] nmirasch commented on #2116
@debu999 let me give this a try with windows then, to see if is there  any reason for this. Thanks!
(BTW, I see by the screenshot that you are trying with quarkus 2.8.0.CR1?)

[2022-04-01 08:56] debu999 commented on #2116
It does bit matter. I tried with both code starter from code. quarkus.io and via plugin same issue

[2022-04-01 08:57] debu999 commented on #2116
Just a simple application without dataindex.

[2022-04-01 14:20] nmirasch commented on #2116
@debu999 Finally, @fjtirado achieved to reproduce the issue in a Windows machine. It seems Quarkus has change the way it manages the FileSystemResources. This jira will track the fix: https://issues.redhat.com/browse/KOGITO-6931
Thanks both!

[2022-04-01 14:26] debu999 commented on #2116
@fjtirado @nmirasch thanks can you please guide how did you debug. It will save more time in future while reporting we will investigate at our end as well. With log level set to all as well could not get any error

[2022-04-01 14:37] nmirasch commented on #2116
@debu999 usually what I do is to start the app in dev mode with the command
'mvn clean compile quarkus:dev'
and it starts automatically (by default) the debug port 5005, you can find here the details https://quarkus.io/guides/maven-tooling#debugging

[2022-04-19 01:57] debu999 opened #2154 "kogito with resteasy reactive - java.lang.ClassNotFoundException: io.quarkus.resteasy.runtime.QuarkusRestPathTemplate"
### Describe the bug

While trying out the kogito quickstart with quarkus 2.8.0.Final and kogito 1.20.0.Final it throws error
java.lang.ClassNotFoundException: io.quarkus.resteasy.runtime.QuarkusRestPathTemplate

Attaching a sample code base need help to fix the bug.

### Expected behavior

should work seamlessly as per the jira https://github.com/quarkusio/quarkus/issues/19868 and https://github.

[2022-04-19 01:58] debu999 commented on #2154
@evacchi Per previous changes reactive support was added to kogito in 1.17.0.Final but not sure if there is anything additional to add for the same in the program.

[2022-04-19 08:00] debu999 commented on #2154
@evacchi It seems the issue is with the following svg generation library.
`<dependency>
<groupId>org.kie.kogito</groupId>
<artifactId>kogito-addons-quarkus-process-svg</artifactId>
<exclusions>
<exclusion>
<groupId>io.quarkus</groupId>
<artifactId>quarkus-resteasy</artifactId>
</exclusion>
</exclusions>
<dependency>`

[2022-04-19 08:00] debu999 commented on #2154
removing the svg extension works fine.

[2022-04-19 11:06] aramashkan opened #2155 "Receiving event for passing each step of process"
### Describe the bug

Event addon producing events that contains collected info about passed steps. Main problem that part about variables contains only final state. For example process like this:

![Screenshot 2022-04-19 at 13 31 05](https://user-images.githubusercontent.com/49194616/163985268-57cb229f-ddb0-4898-8c9e-e9421be6bc99.png)

will generate event like this:

[code]

### Expected behavior

[2022-04-20 15:59] fjtirado commented on #2155
Per design, variables of ProcessInstanceEventType contains the current (what you are calling final, because yours is what we call a straight through process, ie, one that does not contain any wait state ) value when the event is published.
But there should be there events of type VariableInstanceEvent reflecting variable changes. Can you see them?

[2022-04-20 16:29] fjtirado commented on #2155
I checked that not event is being published to kogito-variables-events topic.
Thats wrong and should be fixed with https://github.com/kiegroup/kogito-runtimes/pull/2158
Once this is merged you should, in that topic, these events
[code]

[2022-04-29 17:57] debu999 commented on #2116
Seems it's fixed in 1.20.0.Final

[2022-04-29 17:59] debu999 commented on #2116
Closing ticket now

[2022-06-05 12:48] debu999 opened #2247 "PUT request for process instance with partial updates"
### Description

When updating process instance we have to get the entire payload and modify and then send via put request. Need to have a option for partial update.

Lets assume the below payload
`{
  "var1": "test",
  "var2": {
    "var3": "t1",
    "var4": "t4"
  }
}`

In order to update var1 we do the following
1. GET /processinstanceid
2. Update the payload for var1 to "test2"
3. PUT /process

[2022-06-05 12:51] debu999 commented on #2154
@nmirasch who can we request on svg module to support reactive rest easy. Quarkus have defaulted to resteasy reactive now. And kogito-svg addon does not support the request. @evacchi is there any traction for this ask.

[2022-06-05 12:52] debu999 commented on #2247
@fjtirado @nmirasch @evacchi is there any option in kogito for partial update only to the variables which are in the payload.

[2022-06-10 20:48] debu999 commented on #2247
Hi All , Can some one guide on this please. How to do updates to a process instance for example only one variable to udpate instead of all the data in payload.

[2022-06-30 16:57] debu999 commented on #2154
any update on svg generation with reactive

[2022-07-09 19:04] juangon opened #2324 "Unrecognized configuration key "kogito.persistence.type" when adding to application.properties"
### Describe the bug

When adding kogito.persistence.type in a Quarkus application,it gives the warning although it seems to work fine.

`Unrecognized configuration key "kogito.persistence.type"`

### Expected behavior

No warning about unexpected configuration key should be thrown, as all needed kogito extensions are in place.

### Actual behavior

Warning is written.

### How to Reproduce?

1-Qu

[2022-07-14 03:53] patstevens4 commented on #999
Hi @ricardozanini, any updates on the new runner? I've been eagerly tracking this issue :)

[2022-07-15 04:57] cristianonicolai commented on #2324
Created https://issues.redhat.com/browse/KOGITO-7575 to track this issue.

[2022-07-16 16:10] juangon opened #2339 "Hibernate error when having more tables in the same DB used by Kogito - Table is not mapped"
### Describe the bug

It seems is not possible to have additional tables (not only Kogito's one) in the DB persistence. There is an Hibernate error: "message":"org.hibernate.hql.internal.ast.QuerySyntaxException - XXXX is not mapped".

### Expected behavior

It should be possible to have other DB tables in the same DB used by Kogito.

### Actual behavior

Error is thrown

### How to Reproduce?

1-

[2022-07-16 20:30] juangon commented on #2339
Closing, I think isn't related to Kogito.

[2022-07-16 20:30] #2339 closed

[2022-07-18 08:47] cristianonicolai commented on #2324
Fix will be available in Kogito version 1.25.0

[2022-07-18 21:35] juangon commented on #2324
Thanks very much @cristianonicolai!

[2022-07-26 07:07] debu999 commented on #2154
@nmirasch @evacchi can you please have some traction. Its not yet working. We need full reactive app but cant do due to svg thing incompatibility.

[2022-07-26 07:10] debu999 commented on #2247
@evacchi @nmirasch can you please advise on this. Did not find anything on this.

[2022-07-27 17:24] prerana15 opened #2365 "Kogito's getById API returning null values for Enum fields (even though data is present in database)"
### Describe the bug

Kogito's getById API returning null values for Enum fields (even though data is present in database).
This happens only when enum is part of nested class in the Main Process model.

### Expected behavior

get and getById API should return values as saved :

{
"id":"string",
"a":{
"abc": "abc",
"classBvar":{
"somevar":"var",
"enumVar":"TEST1"
}
}
}

### Actual behavior

{
"id"

[2022-07-27 18:18] prerana15 opened #2366 "Support for Java's List data type for process variable in kogito bpmn"
### Description

As per my understanding, Kogito does not support the java's List data type while creating process variable in bpmn.
Is their a plan of adding the support in future releases? Or is it already supported in any newer versions?

### Implementation ideas

_No response_

[2022-07-28 07:17] xunfeng1980 opened #2367 "io.quarkus:quarkus-qute-parent:pom:2.11.0.Final was not found in https://repository.jboss.org/nexus/content/groups/public/"
### Describe the bug

io.quarkus:quarkus-qute-parent:pom:2.11.0.Final was not found in https://repository.jboss.org/nexus/content/groups/public/ during a previous attempt. This failure was cached in the local repository and resolution is not reattempted until the update interval of jboss-public-repository-group has elapsed or updates are forced

![image](https://user-images.githubusercontent.com/8

[2022-07-28 08:05] radtriste commented on #2367
@xunfeng1980 well if the artifact is on Central, it should download it, even if Nexus is not up to date ...
Did you try to remove your local repository and retry ? sometimes the issue is Maven and if any issue downloading the artifact, it does not retry ...

I that is not the case, could you please share a reproducer ?

[2022-07-28 08:16] xunfeng1980 commented on #2367
remove local repository and download form Central is ok，but why download form JBoos，I find some config on pom.xml
[code]

[2022-07-28 08:17] xunfeng1980 commented on #2367
remove local repository and download form Central is ok，but why download form JBoos，I found some configuration in pom.xml
[code]

[2022-07-28 08:18] #2367 closed

[2022-07-28 08:23] radtriste commented on #2367
JBoss is used for our snapshot artifacts. that is why there is this configuration in `repositories`.
`distributionManagement` is mandatory as this is where we are releasing the artifacts

[2022-07-29 17:50] radtriste commented on #2006
@samding01 current community CI is tested only on amd64 machines (ubuntu on GHA and rhel on Jenkins).

Kogito with Quarkus JVM and Spring boot should compile, package and run with JDK without problems.
But I am not sure Quarkus Native is supported on those platforms.

What are your needs ?

[2022-07-31 22:48] cristianonicolai commented on #2366
@prerana15 java List is currently supported in Kogito. Are you facing any particular issues with it?

[2022-07-31 22:51] cristianonicolai commented on #2365
@prerana15, which database are you using?

[2022-08-01 06:43] prerana15 commented on #2365
Mongo db

[2022-08-01 06:46] prerana15 commented on #2366
@cristianonicolai , let me check again. I think we were facing issues during compile time.
Will update you soon.

[2022-08-01 10:00] prerana15 commented on #2366
@cristianonicolai , these are the steps I followed for adding List type variable in Bpmn process.
1) import Java.until.List in bpmn
2) under process variable, add a variable of List<Object> type.
3) Save and compile.

Expected Result:
Code compiles successfully and proto is generated.

Actual:
Build failed with error - “can not find symbol” class List.

please let me know what am I missing or doin

[2022-08-01 10:22] cristianonicolai commented on #2366
@prerana15 if you're using persistence, you need to use a typed List in order to generate the correct proto. See an example here: https://github.com/kiegroup/kogito-runtimes/blob/main/quarkus/integration-tests/integration-tests-quarkus-processes-persistence/integration-tests-processes-persistence-common/src/main/resources/MultipleInstanceSubProcess.bpmn#L3 Note that the editor does escapes `<` and

[2022-08-01 16:44] prerana15 commented on #2366
@cristianonicolai . Thank you for responding. I will check the example given by you and let you know for any issues.

[2022-08-03 10:38] debu999 commented on #2247
@cristianonicolai Can you please advise on this. We have been doing multiple fetch and update. Can we have a option to do partial update of data in processinstance variables.

[2022-08-03 15:36] prerana15 commented on #2365
@cristianonicolai,  Could you please update on this issue?

[2022-08-03 15:59] cristianonicolai commented on #2247
@debu999, you're correct, right now the only way to update variables is to provide the entire payload. Perhaps to assist with a better solution, could you explain the use case? I would expect that manual intervention to update variables should not be a common practice.

[2022-08-04 01:27] cristianonicolai commented on #2365
Created https://issues.redhat.com/browse/KOGITO-7712 for tracking

[2022-08-04 06:06] cristianonicolai commented on #2366
Feel free to reopen if you find any issues.

[2022-08-04 06:06] #2366 closed

[2022-08-05 06:56] prerana15 commented on #2366
Hi @cristianonicolai ,
I tried the example you had given. But instead of List<String> I had to use List<Example> as per my requirement.
(Example --> POJO)
Now i do not see any build errors, Protos generated perfectly and application starts well.
I was able to POST the request but when i tried getByID API, Its throwing following exception during serialization:
CausedBy: ProcessInstanceMarshallerExc

[2022-08-08 05:46] #2116 closed

[2022-08-08 05:47] debu999 commented on #2247
@cristianonicolai There is a requirement to udpate data in the variables of the domain even after the process instance is completed/aborted. This is where we want to use the put call to just udpate the alert domain variables.

[2022-08-09 07:40] cristianonicolai commented on #2365
Fixed by https://github.com/kiegroup/kogito-runtimes/pull/2381, should be included in 1.26.0 release

[2022-08-09 07:40] #2365 closed

[2022-08-09 07:47] cristianonicolai commented on #2247
@debu999 process engine will remove the state of any process once it is completed/aborted. The process instance won't be available for you to update. Usually, the process should not be the place to be the source of truth so for instance, another system would hold the data that a process would use, like customer details or orders. In this scenario, you wouldn't update a process variable, even becau

[2022-08-10 19:28] debu999 commented on #2247
@cristianonicolai with regards to patch method in task instance, it doesnot update the domain object. Any pointer why domain object is not updated.  I was having opinion that it will update task instance and spinnoff daily

[2022-08-11 13:47] debu999 commented on #2247
@cristianonicolai does the domain object get changed and how do we link a new process instance to existing domain object

[2022-08-12 04:59] debu999 opened #2394 "Patch call in kogito runtime to update the domain object data"
### Description

Kogito have Patch for Task Instance.
But no patch for Process Instance and Domain APIs.
When executing the same, it does not update the acutal domain object information. Need a option to confirm how acutal domain object needs to be udpated in Kogito.

We were using domain object put call for data updates. So if a workflow is **test.bpmn**
Then we have test resources created which

[2022-08-12 05:06] debu999 commented on #2247
https://issues.redhat.com/browse/KOGITO-7713  States its added for the domain object Patch call and will be available in 1.27. Thanks for the quick update. Looking forward to it.

[2022-08-12 05:06] debu999 commented on #2247
@fjtirado can you guide if updating data via user task instance will also update the data model.

[2022-08-12 05:09] debu999 opened #2395 "How to create multiple process instance for same data model"
### Description

We have a requirement where we create a case in our system and post the workflow its closed and data is updated in the case accordingly.
We track history and audits for the same. Now after sometime users want to reopen the case and make more changes. What is the process to link existing object to new process instance.

### Implementation ideas

Guidance and documentation for reope

[2022-08-12 05:09] debu999 commented on #2395
@fjtirado @cristianonicolai Can you throw some light on this.

[2022-08-12 08:59] fjtirado commented on #2394
Fixed with https://issues.redhat.com/browse/KOGITO-7713

[2022-08-12 08:59] #2394 closed

[2022-08-15 06:58] cristianonicolai commented on #2395
@debu999, why not simply run a new process instance over the updated data? As I mentioned earlier, process data is not supposed to be the source of truth about your domain data. It should come from somewhere else, and you should be able to run another workflow instance whenever you need to interact with the updated data.

[2022-08-15 14:08] debu999 commented on #2395
@cristianonicolai
Yes not using process instance for source of truth.

When we create a new pricess instance kogito creates a domain data as well. In case i need to recreate a process insrance for same data then how can i trigger

Query a post call for a new process creation can reuse existing domain object data?

[2022-08-16 11:34] debu999 commented on #2394
As discussed, for tasks patch will be added as well this only updates patch for process.

[2022-08-22 03:00] #2154 closed

[2022-08-23 09:01] tokarenko opened #2409 "Error handling with event subprocess does not execute "catch" and "finally" blocks of a parent process's task handler"
### Describe the bug

I suppose that error handling with event subprocess as described in [Error handling in Kogito](https://blog.kie.org/2021/07/error-handling-in-kogito.html) doesn't work as expected. When task handler code throws an exception, code execution flow breaks immediately and passes to subprocess for error handling. Thus, "catch" and "finally" blocks do not get executed. I suppose tha

[2022-08-24 07:06] tokarenko opened #2413 "Multiple return values from a service task do not update process variables"
### Describe the bug

I set up service task to return two variables as follows:
- Mapped service task outputs to process variables in "Data Outputs and Assignments" of BPMN editor;
- Implemented service task handler to return java Map<String, Object>:
[code]

Solution compiles and runs but process variables do not update with results and process does not transition further the service task and rem

[2022-08-24 07:41] fjtirado commented on #2409
@tokarenko Can you provide a reproducer with a bpmn?

[2022-08-24 08:16] tokarenko commented on #2413
I suppose that the issue may be in [ServiceTaskHandler.java](https://github.com/kiegroup/kogito-runtimes/blob/49c622f08f3803d27d0585adfdeabe93200f642e/jbpm/jbpm-bpmn2/src/main/java/org/jbpm/bpmn2/handler/ServiceTaskHandler.java)

Current implementation puts result object into results HashMap with resultVarName irrespective of the fact that result may be itself a HashMap.

[code]

[2022-08-24 09:12] fjtirado commented on #2413
@tokarenko The scenario you are describing should work.
Im assuming you check https://github.com/kiegroup/kogito-examples/tree/stable/kogito-quarkus-examples/process-service-calls-quarkus
Im going to test a service returning a map object in my end, but since I think this depends on how the output assigment is set, it would be nice if you can share those (the assignments in your bpmn, Im assuming t

[2022-08-24 09:50] fjtirado commented on #2413
Opened JIRA https://issues.redhat.com/browse/KOGITO-7844 to implement that

[2022-08-26 07:36] #2247 closed

[2022-08-26 07:36] fjtirado commented on #2247
@debu999 Please take a look to https://blog.kie.org/2021/05/kogito-user-tasks-process-api.html

[2022-08-26 10:57] debu999 commented on #2247
I believe we have a patch method introduced to domain for process instance updates. But patch is not added for tasks. Do advice if that will be a new jira to track it. Patch for process instance is added in 1.27.0.Final version.

[2022-08-26 11:31] tokarenko opened #2415 "Process stucks in active state when tasks throw the same boundary error event"
### Describe the bug

I tried to handle same exception for different service tasks by attaching boundary error events as follows:

![image](https://user-images.githubusercontent.com/2945630/186891178-79c129eb-6527-43ce-8ff9-ccbba62f8316.png)

When the first task ("Service Task") throws exception (e.g. java.lang.Exception) the process stucks in "Active" state and neither triggers the first end node

[2022-08-26 11:58] prerana15 opened #2416 "java.lang.ClassNotFoundException during marshalling if using Java List in bpmn"
### Describe the bug

Hi @cristianonicolai ,
This is in continuation of the Issue __#2366_
I tried the example you had given. But instead of List of String I had to use List of Java Pojo class as per my requirement.

Now i do not see any build errors, Protos generated perfectly and application starts well.
I was able to POST the request but when i tried getByID API, Its throwing following exceptio

[2022-08-26 13:36] tiagodolphine commented on #2415
@tokarenko it seems to be a bug when catching Exception, try to change to `java.lang.RuntimeException` instead.
I'll open a jira to track this bug.

[2022-08-26 13:40] tiagodolphine commented on #2415
cc @fjtirado

[2022-08-26 13:41] tokarenko commented on #2409
I can't reproduce anymore. Works as expected.

[2022-08-26 13:41] #2409 closed

[2022-08-26 13:41] tiagodolphine commented on #2415
https://issues.redhat.com/browse/KOGITO-7861

[2022-08-26 13:53] tokarenko commented on #2415
Thank you for your quick feedback, @tiagodolphine ! I tried many combinations: with RuntimeException, with custom exception class. As soon as I try to handle same exception on another task process hangs in active state. So, at the time being, the exceptions should be of different classes in order for process to work as excpected...

[2022-08-26 13:58] tokarenko commented on #2415
yes, indeed.

[2022-08-26 15:45] cristianonicolai commented on #2416
@prerana15 is this error happening on quarkus native mode? Could you add the stacktrace please.

[2022-09-04 12:59] debu999 opened #2436 "Enum Support breaks in Kogito 1.27.0 Need urgent fix"
### Describe the bug

Enum in Java Classes which are part of BPMN does not work and breaks. Need a urgent fix. Seems to be a code change issue.

Breaking code = addEnumField
ordinal = Enum.valueOf((Class<Enum>) Class.forName(clazzName), field.name()).ordinal();
//1.27.0.FINAL
[code]
//1.26.0.Final
[code]

### Expected behavior

Enums should be working as earlier and support to the Enums should not

[2022-09-04 16:51] debu999 commented on #2436
@cristianonicolai @fjtirado is it a change to fix something which broke the base calls. BTW... is there a way to  load the classes forcefully in quarkus. Guess that might solve the issue if classloader can be updated for the class in concern.

[2022-09-06 00:16] #2436 closed

[2022-09-06 00:18] cristianonicolai commented on #2436
Fix merged, and should be available on version 1.28.0

[2022-09-10 16:56] jawebada opened #2454 "Quartz cron expression in repeating timer triggers RuntimeException: Error parsing time string"
### Describe the bug

According to the help popup of the BPMN editor a Quartz cron expression should be supported for the _Cron_ format of a repeating timer. Entering a valid expression created using <https://freeformatter.com/cron-expression-generator-quartz.html> triggers a RuntimeException: Error parsing time string.

### Expected behavior

In the example below the script task should be execute

[2022-09-12 08:23] jawebada commented on #2454
I also tested this with Java 11. The result is the same.

[code]

[2022-09-12 13:46] tarilabs commented on #2454
I think the `org.drools.core.time.TimeUtils.parseTimeString(TimeUtils.java:131)` is actually working as intended.

The pop-up help in the VSCode editor mentions:
![image](https://user-images.githubusercontent.com/1699252/189667481-e9937531-0133-490a-9bb6-daccefa2b941.png)

To my investigation, there is no reference in the Kogito docs about this feature.
There is a reference to this in the [jBPM do

[2022-09-12 14:18] jawebada commented on #2454
Thanks for looking into this.

If I understand correctly, both the ISO-8601 and the Drools _Cron_ syntax only support fixed-length periods. We have a couple of processes which should be scheduled to run on the first day of each month, which is why I the Quartz syntax seemed to be the right choice.

I also found out that scheduling process jobs using the jobs service seems not to be supported at th

[2022-09-14 10:41] tokarenko opened #2464 "Indicate abnormal process termination in HTTP reply and diagram"
### Description

     Kogito seems to always return "HTTP/1.1 201 Created" for newly created process instance. That may be misleading for abnormal process flow just after the start event: e.g. technical (java) error or exception, service task failed to validate process input... I suggest to return HTTP error on abnormal process termination just after the start event. This will easen requirements f

[2022-09-14 13:01] fjtirado commented on #2464
I think we need a reproducer. Kogito should only return 201 if the process instance was started and there has not been error so far in the execution of the process.
So the case you are mentioning should return 5xx.

[2022-09-14 15:31] CEMEHEX opened #2467 "Service Task hangs infinitely in the active state if it is after a subprocess."
### Describe the bug

If a Service Task is in the bpmn schema after Reusable, it will hang in the active state indefinitely when the process is started, even though the Java method of the class that is called by the Service Task is working successfully in this case.
<img width="1332" alt="image" src="https://user-images.githubusercontent.com/11317249/190195760-cde5a5d8-6e38-4507-a600-d3ded7f9d27c.

[2022-09-15 11:11] tokarenko commented on #2464
You may use the same reproducer as for [Issue 2415](https://github.com/kiegroup/kogito-runtimes/issues/2415) with the following minor modification to avoid bug reported in 2415:
- Set "Audit user" task handler in "AuditService.java" not to throw the exception (boolean throwException = false)

The process will return 201 although it ends up in "Abnormal" end event of type "Error" connected to the f

[2022-09-15 14:24] tiagodolphine commented on #2467
Opened the https://issues.redhat.com/browse/KOGITO-7945 to track the issue.
@ricardozanini fyi.

[2022-10-04 16:13] tokarenko opened #2536 "Allow to identify task by name (or unique ID known at design time) in task management API"
### Description

Task management API requires to know task instance ID in addition to a task name (that is also an identifier):
http://host:port/<process name>/<process instance ID>/<task name>/<task instance ID>

Getting task instance ID requires parsing JSON returned by HTTP-request to http://host:port/<process name>/<process instance ID>/tasks. This complicates task management interface with Ko

[2022-10-05 07:32] fjtirado commented on #2536
@tokarenko The interface is designed to support multiple task instance of the same task type (task name is not a good naming choice, it is in fact the task type)
What you are requesting is basically the possibility of assigning a unique ID for every task at design time.
@krisv what do you think?

[2022-10-05 12:14] tokarenko commented on #2536
Thank you for your quick reply. I am trying to integrate with Jira having limited out-of-box capabilities (web hooks): it can send HTTP-request but not more than that.

[2022-10-06 08:13] tokarenko commented on #2536
@fjtirado , could you advice as a workaround how to get task instance ID by task name using KogitoProcessContext? I am going to return the ID to Jira in HTTP-reply as a process variable when process starts.

[2022-10-16 09:13] debu999 opened #2564 "kogito artifacts missing license"
### Describe the bug

kogito-addons-monitoring-api / protobuf-serialization-protobuf / kogito-serverless-workflow-spring-boot-starter  no license in the artifacts.

### Expected behavior

kogito-addons-monitoring-api / protobuf-serialization-protobuf / kogito-serverless-workflow-spring-boot-starter  add in parent license in the artifacts.

### Actual behavior

need license in the artifacts to use.

[2022-10-18 10:07] nmirasch commented on #2564
There are referenced artifacts that were removed from the repo, the bom needs to be updated to remove them properly.
This jira to track the fix https://issues.redhat.com/browse/KOGITO-8154

[2022-10-19 02:57] debu999 opened #2571 "Support for Uni response in service tasks reactive"
### Description

Kogito updates allowed reactive endpoints and has been there for few releases.
Service tasks do not have options of Uni or Multi types.
While multi might not be needed by Uni can help run in event loop instead of worker threads.

### Implementation ideas

We enter worker thread and then have all reactive followed by await().indefinitely() yo he he data and then pass as response.

[2022-10-19 10:21] fjtirado commented on #2571
@debu999 The process engine internally is synchronous, it wont work with Reactive. It will have to be fully redesigned to allow what you are requesting

[2022-10-20 14:44] nmirasch commented on #2564
Fix have been merged, it will be available at 1.30.0.Final. Thanks for bring this up!

[2022-10-26 04:39] debu999 opened #2582 "vulnerability fixes - Kogito Runtime/apps"
### Description

Hi Team,
Can we upgrade the version to fix the following vulnerable dependencies
CVE-2022-3171 GOOGLE PROTOBUF 3.21.8 IS LATEST AND we have vulnerability till 3.21.6
CVE-2022-42003 JACKSON DATABIND 2.13.4.2 IS LATEST AND we have vulnerability till 2.13.4
CVE-2022-42889 APACHE COMMONS-TEXT 1.10.0 AND we have vulnerability till 1.9

### Implementation ideas

udpate dependencies.

[2022-10-26 08:20] radtriste commented on #2582
@debu999 We are mostly trying to follow dependencies from Quarkus.
- jackson-databind is already [up to date](https://github.com/kiegroup/kogito-runtimes/blob/main/kogito-build/kogito-dependencies-bom/pom.xml#L25) on `main` branch and will be in 1.30.0.Final
- commons-text is already [up to date](https://github.com/kiegroup/drools/blob/main/build-parent/pom.xml#L40) on `main` branch
- for protobuf

[2022-11-03 08:29] Mert18 opened #2593 "Custom type x is no supported by Kogito persistence"
### Describe the bug

I am using Kogito (1.26.0) with quarkus (2.9.2) and deploying containers infinispan(13.0.2), data-index(1.29), , jobs-service(1.29)... as described in kogito-examples, process-usertasks-timer-quarkus-with-console: https://github.com/kiegroup/kogito-examples/tree/stable/kogito-quarkus-examples/process-usertasks-timer-quarkus-with-console

I am also using a library that uses Ok

[2022-11-03 10:43] CEMEHEX commented on #2467
Looks like this issue was solved in 1.29.0.Final

[2022-11-03 11:45] fjtirado commented on #2593
@Mert18
Why do you need to have the ApiClient object as bpmn property?

[2022-11-03 15:50] Mert18 commented on #2593
I have such a long process and I'm using ApiClient throughout the process in different nodes, I didn't want to create client for each node seperately, instead I wanted to create once in the process and give it as input in other nodes.

But I guess I'll just remove ApiClient from the process and create it in the functions. Thank you.

[2022-11-03 15:50] #2593 closed

[2022-11-11 09:54] andrey-dubnik opened #2608 "Included DMN model inputs are missing in the OAS InputSet (Quarkus)"
### Describe the bug

Hi,

We would like to include another DML model into the definition and re-use the inputs. This works but it seem OAS is not getting generated for the included model inputs, if we define new inputs directly in the model it works fine.

### Expected behavior

If pricing.dmn produced this spec

[code]

corresponding simple.dmn would have following spec (if simple was the name t

[2022-11-14 19:09] ricardozanini commented on #2467
@tiagodolphine can you confirm @CEMEHEX statement?

@CEMEHEX, you tested on your end, and it's working now? 🤔

[2022-11-18 12:38] #2582 closed

[2022-11-18 12:38] radtriste commented on #2582
it will be in Kogito 1.31